@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300&display=swap");
* {
  font-size: 24px; }

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent url(../../assets/img/login-background-opta.png) 0% 0% no-repeat padding-box;
  background-size: cover; }

.lo-container {
  height: auto;
  min-height: max-content;
  width: 24%;
  min-width: 420px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px -1px #707070; }

.lo-logo {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5em;
  font-family: "Dancing Script";
  color: #fa8072; }
  .lo-logo a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    font-family: inherit; }

.lo-radio-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  box-sizing: border-box; }

.lo-radio-area {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  box-sizing: border-box; }

.lo-radio {
  width: 100%;
  height: auto;
  border: 4px solid #707070;
  background: #707070;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px -1px #707070; }
  .lo-radio:hover {
    border-color: #ffb3aa;
    background: #ffb3aa; }

.lo-radio-img {
  width: 100%; }

#lo-chair {
  content: url(../../assets/svg/chair/chair-white.svg); }

#lo-firm {
  content: url(../../assets/svg/firm/signboard-white.svg); }

input[type="radio"] {
  display: none; }
  input[type="radio"]:checked ~ .lo-radio {
    background: #fa8072;
    border-color: #fa8072; }
    input[type="radio"]:checked ~ .lo-radio:hover {
      background: #fa8072;
      border-color: #fa8072; }

.lo-radio-label {
  font-family: "Rubik";
  font-size: 1.1em;
  color: #707070; }

.lo-input-text-area {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px; }

.lo-input-text {
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 10px 5px 10px 15px;
  font-size: 1.1em;
  font-family: "Rubik";
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px -1px #707070;
  box-sizing: border-box;
  color: #707070; }
  .lo-input-text::placeholder {
    color: #a1a0a0; }
  .lo-input-text:hover {
    color: #ffb3aa; }
    .lo-input-text:hover::placeholder {
      color: #ffb3aa; }
  .lo-input-text:focus {
    outline: none;
    color: #fa8072; }
    .lo-input-text:focus::placeholder {
      color: #ffb3aa; }
    .lo-input-text:focus:hover {
      color: #fa8072; }

.lo-button {
  width: 100%;
  height: auto;
  padding: 10px 5px;
  margin: 0 10px;
  border: none;
  color: #ffffff;
  background: #707070;
  border-radius: 5px;
  font-family: "Rubik";
  font-size: 1.4em;
  box-shadow: 0 0 10px -1px #707070; }
  .lo-button:hover {
    background: #fa8072; }
  .lo-button:focus {
    outline: none; }
  .lo-button + a {
    width: 100%;
    margin: 10px 10px 0 10px;
    font-size: 0.6em;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: "Rubik"; }
    .lo-button + a:hover {
      color: #fa8072; }

/*# sourceMappingURL=login-page.css.map */
