@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300&display=swap");
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  background: transparent url(../../assets/img/login-background-opta.png) 0% 0% no-repeat padding-box;
  background-size: cover; }

.login-container {
  height: 100%;
  min-height: 600px;
  width: 24%;
  min-width: 450px;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column; }

.logo {
  width: 100%;
  height: 68px;
  margin: 0;
  margin-bottom: 30%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .logo h1 {
    font-family: "Dancing Script";
    color: #fa8072;
    margin: 0;
    min-width: 90px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px; }
  .logo img {
    height: 100%;
    width: auto; }

.role-input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20%;
  margin-bottom: 5%; }
  .role-input .radio-container {
    width: 50%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .role-input .radio-container .radio-label {
      font-size: 28px;
      color: #707070; }
    .role-input .radio-container .radio-widget {
      border: 4px solid #707070;
      border-radius: 5px;
      height: 150px;
      width: 150px;
      justify-content: center;
      display: flex;
      align-items: center; }
      .role-input .radio-container .radio-widget .radio-img {
        height: 100px;
        width: auto; }
      .role-input .radio-container .radio-widget #chair-img {
        content: url(../../assets/svg/chair/chair-grey.svg); }
      .role-input .radio-container .radio-widget #dryer-img {
        content: url(../../assets/svg/hair-dryer/hair-dryer-grey.svg); }
    .role-input .radio-container:hover .radio-label {
      color: #a1a0a0; }
    .role-input .radio-container:hover .radio-widget {
      border-color: #a1a0a0; }
      .role-input .radio-container:hover .radio-widget #chair-img {
        content: url(../../assets/svg/chair/chair-grey-bright.svg); }
      .role-input .radio-container:hover .radio-widget #dryer-img {
        content: url(../../assets/svg/hair-dryer/hair-dryer-grey-bright.svg); }
    .role-input .radio-container .login-radio {
      display: none; }
      .role-input .radio-container .login-radio:checked ~ .radio-label {
        color: #fa8072; }
      .role-input .radio-container .login-radio:checked ~ .radio-widget {
        border-color: #fa8072; }
        .role-input .radio-container .login-radio:checked ~ .radio-widget #chair-img {
          content: url(../../assets/svg/chair/chair-pink.svg); }
        .role-input .radio-container .login-radio:checked ~ .radio-widget #dryer-img {
          content: url(../../assets/svg/hair-dryer/hair-dryer-pink.svg); }

.data-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .data-container .log-container {
    width: 100%;
    height: 60px;
    margin: 0;
    margin-bottom: 5%;
    display: flex;
    align-items: center; }
    .data-container .log-container .data-input {
      height: 100%;
      width: 100%;
      border: none;
      background: transparent;
      font-size: 24px;
      padding-left: 40px;
      color: #707070;
      border-bottom: 2px solid #707070;
      box-sizing: border-box; }
    .data-container .log-container .input-img {
      position: absolute;
      height: 30px; }
    .data-container .log-container #envelop-img {
      content: url(../../assets/svg/envelop/email-grey.svg); }
    .data-container .log-container #padlock-img {
      content: url(../../assets/svg/padlock/padlock-grey.svg); }
    .data-container .log-container:hover .data-input {
      color: #a1a0a0;
      border-color: #a1a0a0; }
      .data-container .log-container:hover .data-input::placeholder {
        color: #a1a0a0; }
    .data-container .log-container:hover #envelop-img {
      content: url(../../assets/svg/envelop/email-grey-bright.svg); }
    .data-container .log-container:hover #padlock-img {
      content: url(../../assets/svg/padlock/padlock-grey-bright.svg); }
    .data-container .log-container .data-input:focus {
      outline: none;
      color: #fa8072;
      border-color: #fa8072; }
      .data-container .log-container .data-input:focus::placeholder {
        color: #fa8072; }
      .data-container .log-container .data-input:focus + #envelop-img {
        content: url(../../assets/svg/envelop/email-pink.svg); }
      .data-container .log-container .data-input:focus + #padlock-img {
        content: url(../../assets/svg/padlock/padlock-pink.svg); }
  .data-container .sign-button {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #fa8072;
    color: white;
    font-size: 24px; }
    .data-container .sign-button:hover {
      background-color: #ffb3aa; }
    .data-container .sign-button:focus {
      outline: none; }
  .data-container .subsign-button {
    width: 50%;
    margin-right: 50%;
    border: none;
    background: transparent;
    display: flex;
    justify-content: left;
    padding: 0;
    font-size: 15px; }
    .data-container .subsign-button:focus {
      outline: none; }

/*# sourceMappingURL=login-page.css.map */
