@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300&display=swap");
.container {
  background: transparent url(../../assets/img/login-background-opta.png) 0% 0% no-repeat padding-box;
  background-size: cover;
  justify-content: flex-end;
  align-content: center; }

.lo-container {
  height: auto;
  min-height: max-content;
  width: 25%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1.25em;
  box-sizing: border-box;
  margin-right: 5%;
  border-radius: 0.3em;
  box-shadow: 0 0 0.6em -1px #707070; }

.lo-logo {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 1.25em;
  text-align: center;
  font-size: 3.4em;
  font-family: "Dancing Script";
  color: #fa8072; }

.lo-radio-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25em;
  box-sizing: border-box; }

.lo-radio-area {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  box-sizing: border-box; }

.lo-radio {
  width: 100%;
  height: auto;
  border: 0.3em solid #707070;
  background: #707070;
  padding: 1.6em;
  border-radius: 0.3em;
  box-shadow: 0 0 0.6em -1px #707070; }
  .lo-radio:hover {
    border-color: #ffb3aa;
    background: #ffb3aa; }

.lo-radio-img {
  width: 100%; }

#lo-chair {
  content: url(../../assets/svg/chair/chair-white.svg); }

#lo-firm {
  content: url(../../assets/svg/firm/signboard-white.svg); }

input[type="radio"] {
  display: none; }
  input[type="radio"]:checked ~ .lo-radio {
    background: #fa8072;
    border-color: #fa8072; }
    input[type="radio"]:checked ~ .lo-radio:hover {
      background: #fa8072;
      border-color: #fa8072; }

.lo-radio-label {
  font-family: "Rubik";
  font-size: 1.6em;
  color: #707070; }

.lo-input-text-area {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.25em; }

.lo-input-text {
  width: 100%;
  height: auto;
  margin: 0.6em;
  padding: 0.6em 0.3em 0.6em 1em;
  font-size: 1.6em;
  font-family: "Rubik";
  border-radius: 0.3em;
  border: none;
  box-shadow: 0 0 0.6em -1px #707070;
  box-sizing: border-box;
  color: #707070; }
  .lo-input-text::placeholder {
    color: #a1a0a0; }
  .lo-input-text:hover {
    color: #ffb3aa; }
    .lo-input-text:hover::placeholder {
      color: #ffb3aa; }
  .lo-input-text:focus {
    outline: none;
    color: #fa8072; }
    .lo-input-text:focus::placeholder {
      color: #ffb3aa; }
    .lo-input-text:focus:hover {
      color: #fa8072; }

.lo-button {
  width: 100%;
  height: auto;
  padding: 0.4em 0.3em;
  margin: 0 0.4em;
  border: none;
  color: #ffffff;
  background: #707070;
  border-radius: 0.3em;
  font-family: "Rubik";
  font-size: 1.8em;
  box-shadow: 0 0 0.6em -1px #707070; }
  .lo-button:hover {
    background: #fa8072; }
  .lo-button:focus {
    outline: none; }
  .lo-button + a {
    width: 100%;
    margin: 0.6em 0.6em 0 0.6em;
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: "Rubik"; }
    .lo-button + a:hover {
      color: #fa8072; }

/*# sourceMappingURL=login-page.css.map */
