<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>account page</title>
  <link rel="stylesheet" type="text/css" href="public/css/standard-body/standard-body.css">
  <link rel="stylesheet" type="text/css" href="public/css/account-page/account-page.css">
</head>
<body>
  <div class="container">
    <div class="panel">
      <h1 class="ac-logo">
        <a class="ac-a" href="./search">Virtual Salon</a>
      </h1>
      <form class="form-width-auto">
        <div class="ac-input-area">
          <input class="ac-input-text" placeholder="email" type="text">
          <input class="ac-input-text" placeholder="name" type="text">
          <input class="ac-input-text" placeholder="surname" type="text">
          <input class="ac-input-text" placeholder="password" type="password">
          <input class="ac-input-text" placeholder="confirm password" type="password">
        </div>
        <button class="standard-button">sign up</button>
      </form>
    </div>
    <div class="panel">
      <p class="ac-question">Have an account?</p>
      <a class="standard-button" href="./login">sign in</a>
    </div>
  </div>
</body>
