<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/account-page.sass/account-page.css">
</head>
<body>
  <div class="ac-container">
    <h1 class="ac-logo">
      <a class="ac-a" href="./search-page.html">Virtual Salon</a>
    </h1>
    <div class="ac-input-area">
      <input class="ac-input-text" placeholder="email" type="text">
      <input class="ac-input-text" placeholder="name" type="text">
      <input class="ac-input-text" placeholder="surname" type="text">
      <input class="ac-input-text" placeholder="password" type="password">
      <input class="ac-input-text" placeholder="confirm password" type="password">
    </div>
    <button class="ac-button">sign up</button>
  </div>
  <div class="ac-container">
    <p class="ac-question">Have an account?</p>
    <a class="ac-button" href="./login-page.html">sign in</a>
  </div>
</body>
</html>