<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/info-page/info-page.css">
</head>
<body>
  <div class="nav-bar-container">
    <h1 class="logo">Virtual Salon</h1>
    <div class="search-input-container">
      <input class="search-input" type="text" placeholder="search">
      <button class="search-button"><div id="search-img" class="input-img"></div></button>
    </div>
    <div class="nav-tabs-container">
      <a href="./search-page.html" class="nav-tab">search</a>
      <a href="#" class="nav-tab">orders</a>
      <a href="#" class="nav-tab">reservation</a>
      <a href="#" id="nav-tab-current" class="nav-tab">my info.</a>
      <div class="login-container">
        <button class="log-button">
          <div id="profile-img" class="input-img"></div>log out
        </button>
      </div>
    </div>
  </div>
  <div class="middle-content">
    <div class="informations-container">
      <h1 class="account-label">account information</h1>
      <div class="info-panel">
        <div class="profile-photo-container">
          <div id="photo" class="profile-picture"></div>
          <button class="profile-button change-button">change photo</button>
          <button class="profile-button edit-button">edit profile</button>
        </div>
        <ul class="info-ul">
          <li class="info-li"><span class="name-data">name</span><span class="data">Elliot</span></li>
          <li class="info-li"><span class="name-data">surname</span><span class="data">Bernard</span></li>
          <li class="info-li"><span class="name-data">email</span><span class="data">e.bernard@email.com</span></li>
          <li class="info-li"><span class="name-data">date of birth</span><span class="data">18 April 1989</span></li>
          <li class="info-li"><span class="name-data">country or region</span><span class="data">Poland</span></li>
          <li class="info-li"><span class="name-data">phone number</span><span class="data">+32 872 395 654</span></li>
        </ul>
      </div>
      <div class="info-panel">
        <div class="password-container">
          <span class="password-area">password</span>
          <span class="password-area">********</span>
        </div>
        <button class="password-button">change password</button>
      </div>
      <div class="info-panel">
        <div class="paycard"></div>
        <div class="card-buttons-container">
          <button disabled class="remove-card-button">remove card</button>
          <button disabled class="disable-card-button">disable card</button>
        </div>
        <div class="soon-overlay">soon...</div>
      </div>
      <div class="info-panel">
        <div class="address-cotainer">
          <div class="address-area">
            <div id="building-img" class="info-img"></div>
            <p class="address-info">Warsow</p>
          </div>
          <div class="address-area">
            <div id="map-img" class="info-img"></div>
            <p class="address-info">Nowogordzka 96</p>
          </div>
        </div>
        <button class="address-button">set address</button>
      </div>
      <div class="worker-informations-container">
        <div class="info-panel">
          <h1 class="schedule-header">SCHEDULE</h1>
          <div class="schedule-container">
            <div class="day-container">
              <p class="day-label">Monday</p>
              <ul class="day-schedule">
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Tuesday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Wednesday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Thursday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Friday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Saturday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Sunday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
          </div>
        </div>
        <div class="info-panel">
          <h1 class="decription-header">description</h1>
          <p class="description">Elliot Bernard Patel is a 25-year-old P.P.E. student who enjoys bargain hunting, watching sport and social media. She is giving and smart, but can also be very rude and a bit violent. She is addicted to video games, something which her friend Christine Monique Shaw pointed out when she was 17. The problem intensified in 2014. In 2018, Elliot Bernard lost her job as a town counsellor as a result of her addiction. She is French who defines herself as pansexual. She is currently at college. studying philosophy, politics and economics.</p>
          <button class="description-button">change description</button>
        </div>
        <div class="info-panel">
          <h1 class="additional-info-header">additional information</h1>
          <div class="add-info-container">
            <div id="profession-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">profession</h2>
              <ul class="informations">
                <li>text</li>
                <li>text</li>
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="payment-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">payment methods</h2>
              <ul class="informations">
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="certificat-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">certificates</h2>
              <ul class="informations">
                <li>text</li>
                <li>text</li>
                <li>text</li>
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="web-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">web</h2>
              <ul class="informations">
                <li>text</li>
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="exp-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">years of experience</h2>
              <ul class="informations">
                <li>text</li>
                <li>text</li>
                <li>text</li>
                <li>text</li>
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="favorite-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">the most favorite treatments</h2>
              <ul class="informations">
                <li>text</li>
                <li>text</li>
                <li>text</li>
                <li>text</li>
              </ul>
            </div>
          </div>
          <button class="add-info-button">edit</button>
        </div>
        <div class="info-panel">
          <h1 class="price-header">PRICE LIST</h1>
          <ul class="price-list">
            <li><p class="name-price">price</p><p class="value-price">value</p></li>
            <li><p class="name-price">price</p><p class="value-price">value</p></li>
            <li><p class="name-price">price</p><p class="value-price">value</p></li>
          </ul>
          <button class="price-button">edit</button>
        </div>
      </div>
      <button class="delete-button">delete account</button>
    </div>
    <div class="edit-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header">Change Photo</h1>
        <button class="edit-exit">x</button>
      </div>
      <div class="edit-photo-container">
        <button class="edit-photo-button">upload photo</button>
        <p class="edit-photo-uploaded">photo uploaded</p>
      </div>
      <button class="edit-button">confirm changes</button>
    </div>
  </div>
  <div class="end-beam">
    <a id="fb-img" class="social-img" href="https://www.facebook.com/"></a>
    <a id="tt-img" class="social-img" href="https://twitter.com"></a>
    <a id="ig-img" class="social-img" href="https://instagram.com"></a>
  </div>
</body>
</html>
