<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/info-page/info-page.css">
</head>
<body>
  <div class="nav-bar-container">
    <h1 class="logo">Virtual Salon</h1>
    <div class="search-input-container">
      <input class="search-input" type="text" placeholder="search">
      <button class="search-button"><div id="search-img" class="input-img"></div></button>
      <!-- <div id="search-img" class="input-img"></div> -->
    </div>
    <div class="nav-tabs-container">
      <a href="./search-page.html" class="nav-tab">search</a>
      <a href="#" class="nav-tab">orders</a>
      <a href="#" class="nav-tab">reservation</a>
      <a href="#" id="nav-tab-current" class="nav-tab">my info.</a>
      <div class="login-container">
        <button class="log-button">
          <div id="profile-img" class="input-img"></div>log out
        </button>
      </div>
    </div>
  </div>
</body>
</html>