<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/navbar/navbar.css">
  <link rel="stylesheet" href="../css/end-beam/end-beam.css">
  <link rel="stylesheet" href="../css/standard-body/standard-body.css">
  <link rel="stylesheet" href="../css/info-page/info-page.css">
</head>
<body>
  <div class="nb-container">
    <h1 class="nb-logo">
      <a class="nb-logo-a" href="./search-page.html">Virtual Salon</a>
    </h1>
    <div class="nb-right-section">
      <a class="nb-tab nb-none" href="#">orders.</a>
      <a class="nb-tab nb-none" href="#">reservations.</a>
      <a class="nb-tab nb-none" id="nb-current-tab" href="#">my info.</a>
      <div class="nb-profile nb-none">
        <div id="nb-profile-photo" class="nb-profile-img"></div>
        <button class="nb-button">logout</button>
      </div>
      <div class="nb-sign">
        <button class="nb-sign-button nb-sign-in">sign in</button>
        <button class="nb-sign-button nb-sign-up">sign up</button>
      </div>
    </div>
  </div>
  <div class="middle-content">
    <div class="informations-container">
      <h1 class="account-label">account information</h1>
      <div class="info-panel-default">
        <div class="profile-photo-container">
          <div id="photo" class="profile-picture"></div>
          <button class="profile-button change-button">change photo</button>
          <button class="profile-button edit-profile">edit profile</button>
        </div>
        <ul class="info-ul">
          <li class="info-li"><span class="name-data">name</span><span class="data">Elliot</span></li>
          <li class="info-li"><span class="name-data">surname</span><span class="data">Bernard</span></li>
          <li class="info-li"><span class="name-data">email</span><span class="data">e.bernard@email.com</span></li>
          <li class="info-li"><span class="name-data">date of birth</span><span class="data">18 April 1989</span></li>
          <li class="info-li"><span class="name-data">country or region</span><span class="data">Poland</span></li>
          <li class="info-li"><span class="name-data">phone number</span><span class="data">+32 872 395 654</span></li>
        </ul>
      </div>
      <div class="info-panel-default">
        <div class="password-container">
          <span class="password-area">password</span>
          <span class="password-area">********</span>
        </div>
        <button class="password-button">change password</button>
      </div>
      <div class="info-panel-default">
        <div class="paycard"></div>
        <div class="card-buttons-container">
          <button disabled class="remove-card-button">remove card</button>
          <button disabled class="disable-card-button">disable card</button>
        </div>
        <div class="soon-overlay">soon...</div>
      </div>
      <div class="info-panel-default">
        <div class="address-cotainer">
          <div class="address-area">
            <div id="building-img" class="info-img"></div>
            <p class="address-info">Warsow</p>
          </div>
          <div class="address-area">
            <div id="map-img" class="info-img"></div>
            <p class="address-info">Nowogordzka 96</p>
          </div>
        </div>
        <button class="address-button">set address</button>
      </div>
      <div class="worker-informations-container">
        <div class="info-panel">
          <h1 class="schedule-header">SCHEDULE</h1>
          <div class="schedule-container">
            <div class="day-container">
              <p class="day-label">Monday</p>
              <ul class="day-schedule">
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Tuesday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Wednesday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Thursday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Friday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Saturday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
            <div class="day-container">
              <p class="day-label">Sunday</p>
              <ul class="day-schedule">
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
                <li>13:45</li>
              </ul>
              <button class="day-schedule-button">change schedule</button>
            </div>
          </div>
        </div>
        <div class="info-panel">
          <h1 class="decription-header">description</h1>
          <p class="description">Elliot Bernard Patel is a 25-year-old P.P.E. student who enjoys bargain hunting, watching sport and social media. She is giving and smart, but can also be very rude and a bit violent. She is addicted to video games, something which her friend Christine Monique Shaw pointed out when she was 17. The problem intensified in 2014. In 2018, Elliot Bernard lost her job as a town counsellor as a result of her addiction. She is French who defines herself as pansexual. She is currently at college. studying philosophy, politics and economics.</p>
          <button class="description-button">change description</button>
        </div>
        <div class="info-panel">
          <h1 class="additional-info-header">additional information</h1>
          <div class="add-info-container">
            <div id="profession-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">profession</h2>
              <ul class="informations">
                <li>text</li>
                <li>text</li>
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="payment-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">payment methods</h2>
              <ul class="informations">
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="certificat-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">certificates</h2>
              <ul class="informations">
                <li>text</li>
                <li>text</li>
                <li>text</li>
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="web-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">web</h2>
              <ul class="informations">
                <li>text</li>
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="exp-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">years of experience</h2>
              <ul class="informations">
                <li>text</li>
                <li>text</li>
                <li>text</li>
                <li>text</li>
              </ul>
            </div>
          </div>
          <div class="add-info-container">
            <div id="favorite-img" class="add-info-img"></div>
            <div class="add-info-area">
              <h2 class="add-info-subheader">the most favorite treatments</h2>
              <ul class="informations">
                <li>text</li>
                <li>text</li>
                <li>text</li>
                <li>text</li>
              </ul>
            </div>
          </div>
          <button class="add-info-button">edit</button>
        </div>
        <div class="info-panel">
          <h1 class="price-header">PRICE LIST</h1>
          <ul class="price-list">
            <li class="price-li"><p class="name-price">price</p><p class="value-price">value</p></li>
            <li class="price-li"><p class="name-price">price</p><p class="value-price">value</p></li>
            <li class="price-li"><p class="name-price">price</p><p class="value-price">value</p></li>
          </ul>
          <button class="price-button">edit</button>
        </div>
      </div>
      <button class="delete-button">delete account</button>
    </div>
    <div style="display: none;" class="edit-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header">Change Photo</h1>
        <button class="edit-exit">x</button>
      </div>
      <div class="edit-photo-container">
        <button class="edit-photo-button">upload photo</button>
        <button class="edit-photo-uploaded"></button>
      </div>
      <button class="edit-button">confirm changes</button>
    </div>
    <div style="display: none;" class="edit-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header">Edit Profile</h1>
        <button class="edit-exit">x</button>
      </div>
      <div class="edit-profile-container">
        <div class="edit-profile-area">
          <p class="edit-standard-info">name</p>
          <input class="edit-standard-input" placeholder="name" type="text">
        </div>
        <div class="edit-profile-area">
          <p class="edit-standard-info">surname</p>
          <input class="edit-standard-input" placeholder="surname" type="text">
        </div>
        <div class="edit-profile-area">
          <p class="edit-standard-info">email</p>
          <input class="edit-standard-input" placeholder="email@email.com" type="text">
        </div>
        <div class="edit-profile-area">
          <p class="edit-standard-info">date of birth</p>
          <div class="edit-date-area">
            <input class="edit-date-input" placeholder="day" type="text">
            <input class="edit-date-input" placeholder="month" type="text">
            <input class="edit-date-input" placeholder="year" type="text">
          </div>
        </div>
        <div class="edit-profile-area">
          <p class="edit-standard-info">country or region</p>
          <input class="edit-standard-input" placeholder="country" type="text">
        </div>
        <div class="edit-profile-area">
          <p class="edit-standard-info">phone number</p>
          <input class="edit-standard-input" placeholder="phone number" type="text">
        </div>
      </div>
      <button class="edit-button">confirm changes</button>
    </div>
    <div style="display: none;" class="edit-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header">Change Password</h1>
        <button class="edit-exit">x</button>
      </div>
      <div class="edit-password-container">
        <div class="edit-password-area">
          <p class="edit-password">new password</p>
          <input class="edit-password-input" placeholder="new password" type="password">
        </div>
        <div class="edit-password-area">
          <p class="edit-password">repeat new password</p>
          <input class="edit-password-input" placeholder="new password" type="password">
        </div>
        <div class="edit-password-area">
          <p class="edit-password">old password</p>
          <input class="edit-password-input" placeholder="new password" type="password">
        </div>
      </div>
      <button class="edit-button">confirm changes</button>
    </div>
    <div style="display: none;" class="edit-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header">Edit Address</h1>
        <button class="edit-exit">x</button>
      </div>
      <div class="edit-address-container">
        <div class="edit-address-area">
          <p class="edit-address">city</p>
          <input class="edit-address-input" placeholder="Warsow" type="text">
        </div>
        <div class="edit-address-area">
          <p class="edit-address">street/number</p>
          <input class="edit-address-input" placeholder="Nowogrodzka 96" type="text">
        </div>
      </div>
      <button class="edit-button">confirm changes</button>
    </div>
    <div style="display: none;" class="edit-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header">Edit Schedule</h1>
        <button class="edit-exit">x</button>
      </div>
      <div class="edit-schedule-container">
        <h2 class="schedule-day">Monday</h2>
        <ul class="schedule-list">
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
          <li class="schedule-list-element">
            <button class="schedule-delete-button">delete</button>
            <p class="schedule-time">13:30</p>
          </li>
        </ul>
        <div class="schedule-input-area">
          <input class="schedule-time-input" placeholder="12:37" type="text">
          <button class="schedule-time-add-button">add</button>
        </div>
      </div>
      <button class="edit-button">confirm changes</button>
    </div>
    <div style="display: none;" class="edit-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header">Change Description</h1>
        <button class="edit-exit">x</button>
      </div>
      <div class="edit-description-container">
        <textarea class="description-input"></textarea>
      </div>
      <button class="edit-button">confirm changes</button>
    </div>
    <div style="display: none;" class="edit-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header">Edit Additional informations</h1>
        <button class="edit-exit">x</button>
      </div>
      <div class="edit-add-info-container">
        <div class="add-info-area">
          <h2 class="add-info-header">proffesion</h2>
          <ul class="add-info-list">
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
          </ul>
          <div class="add-info-input-area">
            <input class="add-info-input" placeholder="proffesion" type="text">
            <button class="add-info-input-button">+</button>
          </div>
        </div>
        <div class="add-info-area">
          <h2 class="add-info-header">payment methods</h2>
          <ul class="add-info-list">
            <li class="add-info-element">
              <div class="add-info-checkbox-container">
                <input type="checkbox" name="payment-method" id="cash">
                <label class="checkbox-mock" for="cash"></label>
                <label class="checkbox-label" for="cash">cash</label>
              </div>
            </li>
            <li class="add-info-element">
              <div class="add-info-checkbox-container">
                <input disabled type="checkbox" name="payment-method" id="terminal">
                <label class="checkbox-mock" for="terminal"></label>
                <label class="checkbox-label" for="terminal">terminal</label>
              </div>
            </li>
            <li class="add-info-element">
              <div class="add-info-checkbox-container">
                <input disabled type="checkbox" name="payment-method" id="application">
                <label class="checkbox-mock" for="application"></label>
                <label class="checkbox-label" for="application">by application</label>
              </div>
            </li>
          </ul>
        </div>
        <div class="add-info-area">
          <h2 class="add-info-header">certificates</h2>
          <ul class="add-info-list">
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
          </ul>
          <div class="add-info-input-area">
            <input class="add-info-input" placeholder="certificates" type="text">
            <button class="add-info-input-button">+</button>
          </div>
        </div>
        <div class="add-info-area">
          <h2 class="add-info-header">web</h2>
          <ul class="add-info-list">
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
          </ul>
          <div class="add-info-input-area">
            <input class="add-info-input" placeholder="website url" type="text">
            <button class="add-info-input-button">+</button>
          </div>
        </div>
        <div class="add-info-area">
          <h2 class="add-info-header">years of experience</h2>
          <ul class="add-info-list">
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
          </ul>
          <div class="add-info-input-area">
            <input class="add-info-input" placeholder="previous work places" type="text">
            <button class="add-info-input-button">+</button>
          </div>
        </div>
        <div class="add-info-area">
          <h2 class="add-info-header">the most favorite treatments</h2>
          <ul class="add-info-list">
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
            <li class="add-info-element">
              <button class="add-info-delete-button">x</button>
              <p class="add-info">text</p>
            </li>
          </ul>
          <div class="add-info-input-area">
            <input class="add-info-input" placeholder="favorite treatment" type="text">
            <button class="add-info-input-button">+</button>
          </div>
        </div>
      </div>
      <button class="edit-button">confirm changes</button>
    </div>
    <div style="display: none;" class="edit-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header">Edit Price List</h1>
        <button class="edit-exit">x</button>
      </div>
      <div class="edit-price-container">
        <div class="price-area">
          <ul class="price-list">
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
            <li class="price-element">
              <button class="price-delete-button">x</button>
              <p class="price-info">text</p>
              <p class="price-info-value">value</p>
            </li>
          </ul>
        </div>
        <div class="price-input-area">
          <input class="price-input" placeholder="name of treatment" type="text">
          <input class="price-input" placeholder="price" type="text">
          <button class="price-input-button">+</button>
        </div>
      </div>
      <button class="edit-button">confirm changes</button>
    </div>
    <div style="display: none;" class="edit-panel delete-panel">
      <div class="edit-top-beam">
        <h1 class="edit-header delete-header">Are you sure?</h1>
        <button class="edit-exit delete-exit">x</button>
      </div>
      <div class="delete-account-container">
        <p class="delete-confrim-header">password</p>
        <input class="delete-password-input" placeholder="password" type="password">
      </div>
      <button class="edit-button delete-button">confrim deletion</button>
    </div>
  </div>
  <div class="end-beam">
    <a id="fb-img" class="social-img" href="https://www.facebook.com/"></a>
    <a id="tt-img" class="social-img" href="https://twitter.com"></a>
    <a id="ig-img" class="social-img" href="https://instagram.com"></a>
  </div>
</body>
</html>
