<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/navbar/navbar.css">
  <link rel="stylesheet" href="../css/end-beam/end-beam.css">
  <link rel="stylesheet" href="../css/standard-body/standard-body.css">
  <link rel="stylesheet" href="../css/main-page/main-page.css">
</head>
<body style="box-sizing: border-box;">
  <div class="nb-container">
    <h1 class="nb-logo">
      <a class="nb-logo-a" href="./search-page.html">Virtual Salon</a>
    </h1>
    <div class="nb-right-section">
      <a class="nb-tab" href="#">orders.</a>
      <a class="nb-tab" href="#">reservations.</a>
      <a class="nb-tab" href="#">my info.</a>
      <div class="nb-profile">
        <div id="nb-profile-photo" class="nb-profile-img"></div>
        <button class="nb-button">logout</button>
      </div>
      <div class="nb-sign nb-none">
        <a  href="./login-page.html" class="nb-sign-button nb-sign-in">sign in</a>
        <a href="./account-page.html" class="nb-sign-button nb-sign-up">sign up</a>
      </div>
    </div>
  </div>
  <div class="middle-content">
    <div class="mp-left-area">
      <div class="mp-left-panel">
        <div class="mp-search-section">
          <input class="mp-search-text-input" placeholder="person" type="text">
          <button class="mp-search-button">search</button>
        </div>
      </div>
      <div class="mp-left-panel">
        <div class="mp-search-section">
          <h1 class="mp-search-section-header">location</h1>
          <input class="mp-search-text-input" placeholder="city" type="text">
          <input class="mp-search-text-input" placeholder="street" type="text">
        </div>
        <div class="mp-search-section">
          <h1 class="mp-search-section-header">profession</h1>
          <ul class="mp-search-ul">
            <li class="mp-search-li">
              <input type="checkbox" name="profession" id="profession-1">
              <label class="mp-checkbox" for="profession-1"></label>
              <label class="mp-checkbox-label" for="profession-1">barber</label>
            </li>
            <li class="mp-search-li">
              <input type="checkbox" name="profession" id="profession-2">
              <label class="mp-checkbox" for="profession-2"></label>
              <label class="mp-checkbox-label" for="profession-2">aaaaaaaaaaaaaaaaaaaaa</label>
            </li>
          </ul>
          <button class="mp-show-button">show more</button>
        </div>
        <div class="mp-search-section">
          <h1 class="mp-search-section-header">services</h1>
          <ul class="mp-search-ul">
            <li class="mp-search-li">
              <input type="checkbox" name="service" id="service-1">
              <label class="mp-checkbox" for="service-1"></label>
              <label class="mp-checkbox-label" for="service-1">barber</label>
            </li>
            <li class="mp-search-li">
              <input type="checkbox" name="service" id="service-2">
              <label class="mp-checkbox" for="service-2"></label>
              <label class="mp-checkbox-label" for="service-2">aaaaaaaaaaaaaaaaaaaaa</label>
            </li>
          </ul>
          <button class="mp-show-button">show more</button>
        </div>
        <div class="mp-search-section">
          <h1 class="mp-search-section-header">min price</h1>
          <input class="mp-search-text-input mp-price-text-input" placeholder="0.0 $" type="text">
        </div>
        <div class="mp-search-section">
          <h1 class="mp-search-section-header">max price</h1>
          <input class="mp-search-text-input mp-price-text-input" placeholder="100.0 $" type="text">
        </div>
        <div class="mp-search-section">
          <h1 class="mp-search-section-header">payment method</h1>
          <ul class="mp-search-ul">
            <li class="mp-search-li">
              <input type="checkbox" name="payment" id="payment-1">
              <label class="mp-checkbox" for="payment-1"></label>
              <label class="mp-checkbox-label" for="payment-1">cash</label>
            </li>
            <li class="mp-search-li">
              <input disabled type="checkbox" name="payment" id="payment-2">
              <label class="mp-checkbox" for="payment-2"></label>
              <label class="mp-checkbox-label" for="payment-2">terminal</label>
            </li>
            <li class="mp-search-li">
              <input disabled type="checkbox" name="payment" id="payment-3">
              <label class="mp-checkbox" for="payment-3"></label>
              <label class="mp-checkbox-label" for="payment-3">by application</label>
            </li>
          </ul>
        </div>
        <button class="mp-search-button">search</button>
      </div>
    </div>
    <div class="mp-center-area">
      <div class="mp-center-panel">
        <div class="mp-center-subarea">
          <div class="mp-profile-area">
            <div id="mp-photo" class="mp-profile-photo"></div>
            <div class="mp-profile-header">
              <h1 class="mp-profile-h1">Mary Adams</h1>
              <p class="mp-profile-p">hairdresser</p>
            </div>
          </div>
        </div>
        <div class="mp-center-subarea"></div>
      </div>
    </div>
    <div class="mp-right-area">
      <div class="mp-right-panel">
        <div id="building-img" class="mp-right-panel-img"></div>
        <ul class="mp-selected-ul">
          <li class="mp-selected-li">Warsow</li>
        </ul>
      </div>
      <div class="mp-right-panel">
        <div id="map-img" class="mp-right-panel-img"></div>
        <ul class="mp-selected-ul">
          <li class="mp-selected-li">Nowogrodzka 96</li>
        </ul>
      </div>
      <div class="mp-right-panel">
        <div id="pin-img" class="mp-right-panel-img"></div>
        <ul class="mp-selected-ul">
          <li class="mp-selected-li">barber</li>
          <li class="mp-selected-li">hairdresser</li>
        </ul>
      </div>
      <div class="mp-right-panel">
        <div id="service-img" class="mp-right-panel-img"></div>
        <ul class="mp-selected-ul">
          <li class="mp-selected-li">eyebrow modeling</li>
        </ul>
      </div>
      <div class="mp-right-panel">
        <div id="cash-max-img" class="mp-right-panel-img"></div>
        <ul class="mp-selected-ul">
          <li class="mp-selected-li">30 $</li>
        </ul>
      </div>
      <div class="mp-right-panel">
        <div id="cash-min-img" class="mp-right-panel-img"></div>
        <ul class="mp-selected-ul">
          <li class="mp-selected-li">5 $</li>
        </ul>
      </div>
      <div class="mp-right-panel">
        <div id="payment-img" class="mp-right-panel-img"></div>
        <ul class="mp-selected-ul">
          <li class="mp-selected-li">cash</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mp-page-select-area">
    <ul class="mp-page-select-ul">
      <li class="mp-page-select-li">1</li>
      <li class="mp-page-select-li">beck</li>
      <li id="page-selected" class="mp-page-select-li">3</li>
      <li class="mp-page-select-li">4</li>
      <li class="mp-page-select-li">5</li>
      <li class="mp-page-select-li">6</li>
      <li class="mp-page-select-li">next</li>
      <li class="mp-page-select-li">37</li>
    </ul>
  </div>
  <div class="end-beam">
    <a id="fb-img" class="social-img" href="https://www.facebook.com/"></a>
    <a id="tt-img" class="social-img" href="https://twitter.com"></a>
    <a id="ig-img" class="social-img" href="https://instagram.com"></a>
  </div>
</body>
</html>