<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/navbar/navbar.css">
  <link rel="stylesheet" href="../css/end-beam/end-beam.css">
  <link rel="stylesheet" href="../css/standard-body/standard-body.css">
  <link rel="stylesheet" href="../css/orders-page/orders-page.css">
</head>
<body>
  <div class="nb-container">
    <h1 class="nb-logo">
      <a class="nb-logo-a" href="./search-page.html">Virtual Salon</a>
    </h1>
    <div class="nb-right-section">
      <a id="nb-current-tab" class="nb-tab" href="#">orders.</a>
      <a class="nb-tab" href="#">reservations.</a>
      <a class="nb-tab" href="#">my info.</a>
      <div class="nb-profile">
        <div id="nb-profile-photo" class="nb-profile-img"></div>
        <button class="nb-button">logout</button>
      </div>
      <div class="nb-sign nb-none">
        <a  href="./login-page.html" class="nb-sign-button nb-sign-in">sign in</a>
        <a href="./account-page.html" class="nb-sign-button nb-sign-up">sign up</a>
      </div>
    </div>
  </div>
  <div class="middle-content"></div>
  <div class="mp-page-select-area">
    <ul class="mp-page-select-ul">
      <li class="mp-page-select-li">1</li>
      <li class="mp-page-select-li">back</li>
      <li id="page-selected" class="mp-page-select-li">3</li>
      <li class="mp-page-select-li">4</li>
      <li class="mp-page-select-li">5</li>
      <li class="mp-page-select-li">6</li>
      <li class="mp-page-select-li">next</li>
      <li class="mp-page-select-li">37</li>
    </ul>
  </div>
  <div class="end-beam">
    <a id="fb-img" class="social-img" href="https://www.facebook.com/"></a>
    <a id="tt-img" class="social-img" href="https://twitter.com"></a>
    <a id="ig-img" class="social-img" href="https://instagram.com"></a>
  </div>
</body>
</html>