<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/navbar/navbar.css">
  <link rel="stylesheet" href="../css/end-beam/end-beam.css">
  <link rel="stylesheet" href="../css/standard-body/standard-body.css">
  <link rel="stylesheet" href="../css/orders-page/orders-page.css">
</head>
<body>
  <div class="nb-container">
    <h1 class="nb-logo">
      <a class="nb-logo-a" href="./search-page.html">Virtual Salon</a>
    </h1>
    <div class="nb-right-section">
      <a id="nb-current-tab" class="nb-tab" href="#">orders.</a>
      <a class="nb-tab" href="#">reservations.</a>
      <a class="nb-tab" href="#">my info.</a>
      <div class="nb-profile">
        <div id="nb-profile-photo" class="nb-profile-img"></div>
        <button class="nb-button">logout</button>
      </div>
      <div class="nb-sign nb-none">
        <a  href="./login-page.html" class="nb-sign-button nb-sign-in">sign in</a>
        <a href="./account-page.html" class="nb-sign-button nb-sign-up">sign up</a>
      </div>
    </div>
  </div>
  <div class="middle-content">
    <div class="or-panel">
      <div class="or-panel-left-area">
        <h1 class="or-header">client data</h1>
        <div class="or-profile-header">
          <div id="or-profile-photo" class="or-profile-img"></div>
          <h1 class="or-profile-h1">Mary Adams</h1>
        </div>
        <ul class="or-data-ul">
          <li class="or-data-li">
            <div class="or-data-img or-date-img"></div>
            <p class="or-data-info">12 Nov 2021, 20:00</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-map-img"></div>
            <p class="or-data-info">Warsaw, Nowogordzka 96/12</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-person-img"></div>
            <p class="or-data-info">Mary Adams</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-phone-img"></div>
            <p class="or-data-info">764 985 123</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-email-img"></div>
            <p class="or-data-info">email@email.com</p>
          </li>
        </ul>
      </div>
      <div class="or-panel-right-area">
        <h1 class="or-header">orders</h1>
        <ul class="or-price-ul">
          <li class="or-price-li">
            <p class="or-price-name">name</p>
            <p class="or-price-value">10 $</p>
          </li>
          <li class="or-price-li">
            <p class="or-price-name">name</p>
            <p class="or-price-value">10 $</p>
          </li>
          <li class="or-price-li">
            <p class="or-price-name">name</p>
            <p class="or-price-value">10 $</p>
          </li>
        </ul>
        <h1 class="or-price-sum">full: 10 $</h1>
      </div>
      <button class="or-panel-done">done!</button>
    </div>
    <div class="or-panel">
      <div class="or-panel-left-area">
        <h1 class="or-header">client data</h1>
        <div class="or-profile-header">
          <div id="or-profile-photo" class="or-profile-img"></div>
          <h1 class="or-profile-h1">Mary Adams</h1>
        </div>
        <ul class="or-data-ul">
          <li class="or-data-li">
            <div class="or-data-img or-date-img"></div>
            <p class="or-data-info">12 Nov 2021, 20:00</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-map-img"></div>
            <p class="or-data-info">Warsaw, Nowogordzka 96/12</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-person-img"></div>
            <p class="or-data-info">Mary Adams</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-phone-img"></div>
            <p class="or-data-info">764 985 123</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-email-img"></div>
            <p class="or-data-info">email@email.com</p>
          </li>
        </ul>
      </div>
      <div class="or-panel-right-area">
        <h1 class="or-header">orders</h1>
        <ul class="or-price-ul">
          <li class="or-price-li">
            <p class="or-price-name">name</p>
            <p class="or-price-value">10 $</p>
          </li>
          <li class="or-price-li">
            <p class="or-price-name">name</p>
            <p class="or-price-value">10 $</p>
          </li>
          <li class="or-price-li">
            <p class="or-price-name">name</p>
            <p class="or-price-value">10 $</p>
          </li>
        </ul>
        <h1 class="or-price-sum">full: 10 $</h1>
      </div>
      <button class="or-panel-done">done!</button>
    </div>
    <div class="or-panel">
      <div class="or-panel-left-area">
        <h1 class="or-header">client data</h1>
        <div class="or-profile-header">
          <div id="or-profile-photo" class="or-profile-img"></div>
          <h1 class="or-profile-h1">Mary Adams</h1>
        </div>
        <ul class="or-data-ul">
          <li class="or-data-li">
            <div class="or-data-img or-date-img"></div>
            <p class="or-data-info">12 Nov 2021, 20:00</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-map-img"></div>
            <p class="or-data-info">Warsaw, Nowogordzka 96/12</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-person-img"></div>
            <p class="or-data-info">Mary Adams</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-phone-img"></div>
            <p class="or-data-info">764 985 123</p>
          </li>
          <li class="or-data-li">
            <div class="or-data-img or-email-img"></div>
            <p class="or-data-info">email@email.com</p>
          </li>
        </ul>
      </div>
      <div class="or-panel-right-area">
        <h1 class="or-header">orders</h1>
        <ul class="or-price-ul">
          <li class="or-price-li">
            <p class="or-price-name">name</p>
            <p class="or-price-value">10 $</p>
          </li>
          <li class="or-price-li">
            <p class="or-price-name">name</p>
            <p class="or-price-value">10 $</p>
          </li>
          <li class="or-price-li">
            <p class="or-price-name">name</p>
            <p class="or-price-value">10 $</p>
          </li>
        </ul>
        <h1 class="or-price-sum">full: 10 $</h1>
      </div>
      <button class="or-panel-done">done!</button>
    </div>
  </div>
  <div class="mp-page-select-area">
    <ul class="mp-page-select-ul">
      <li class="mp-page-select-li">1</li>
      <li class="mp-page-select-li">back</li>
      <li id="page-selected" class="mp-page-select-li">3</li>
      <li class="mp-page-select-li">4</li>
      <li class="mp-page-select-li">5</li>
      <li class="mp-page-select-li">6</li>
      <li class="mp-page-select-li">next</li>
      <li class="mp-page-select-li">37</li>
    </ul>
  </div>
  <div class="end-beam">
    <a id="fb-img" class="social-img" href="https://www.facebook.com/"></a>
    <a id="tt-img" class="social-img" href="https://twitter.com"></a>
    <a id="ig-img" class="social-img" href="https://instagram.com"></a>
  </div>
</body>
</html>