<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/search-page/search-page.css">
</head>
<body>
  <div class="top-area">
    <div class="profile-area">
      <button id="sign-in-button" class="sign-button">sign in</button>
      <button id="sign-up-button" class="sign-button">sign up</button>
    </div>
    <div style="display: none;" class="profile-area">
      <div class="profile">
        <div id="profile-img" class="profile-photo"></div>
        <button class="profile-logout">log out</button>
      </div>
    </div>
    <div class="logo">
      <h1 class="logo-text">Virtual Salon</h1>
      <div class="logo-image"></div>
    </div>
  </div>
  <div class="search-container">
    <div class="search-input-container">
      <input class="search-input" type="text" placeholder="city">
      <div id="building-img" class="input-img"></div>
    </div>
    <div class="search-input-container">
      <input class="search-input" type="text" placeholder="street addres">
      <div id="map-img" class="input-img"></div>
    </div>
    <div class="search-button-container">
      <button class="search-button"><div id="lens-img" class="input-img"></div>search</button>
    </div>
  </div>
  <div class="hedlines-container">
    <span class="main-headline">Find your beautician or hairdresser</span>
    <span class="sub-headline">for your home</span>
  </div>
</body>
</html>