<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>search</title>
  <link rel="stylesheet" href="../css/standard-body/standard-body.css">
  <link rel="stylesheet" href="../css/search-page/search-page.css">
</head>
<body>
  <div class="container">
    <div class="top-area">
      <div class="profile-area">
        <a href="./login-page.html" class="sign-button">sign in</a>
        <a href="./account-page.html" class="sign-button">sign up</a>
      </div>
      <div class="profile-area">
        <img src="../assets/img/person-profile.jpeg" class="profile-photo">
        <form>
          <button class="profile-logout">logout</button>
        </form>
      </div>
      <h1 class="logo-text">Virtual Salon</h1>
    </div>
    <div class="search-container">
      <form>
        <input class="search-input" type="text" placeholder="city">
        <input class="search-input" type="text" placeholder="street addres">
        <button class="search-button">search</button>
      </form>
    </div>
  </div>
</body>
</html>