<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/navbar/navbar.css">
  <link rel="stylesheet" href="../css/end-beam/end-beam.css">
  <link rel="stylesheet" href="../css/standard-body/standard-body.css">
  <link rel="stylesheet" href="../css/sheet-page/sheet-page.css">
</head>
<body>
  <div class="nav-bar-container">
    <h1 class="logo">Virtual Salon</h1>
    <div class="search-input-container">
      <input class="search-input" type="text" placeholder="search">
      <button class="search-button"><div id="search-img" class="input-img"></div></button>
    </div>
    <!-- classes: nav-tabs-container, nav-tabs-container-login nav-tabs-container-logout -->
    <div class="nav-tabs-container nav-tabs-container-login">
      <a href="./search-page.html" class="nav-tab">search</a>
      <a href="#" class="nav-tab login-nav-tab">orders</a>
      <a href="#" class="nav-tab login-nav-tab">reservation</a>
      <a href="./info-page.html" class="nav-tab login-nav-tab">my info.</a>
      <div class="login-container">
        <div id="beam-profile-img" class="input-img"></div>
        <button class="log-button">log out</button>
      </div>
      <div class="logout-container">
        <button class="login-button sign-in-button">sign in</button>
        <button class="login-button sign-up-button">sign out</button>
      </div>
    </div>
  </div>
  <div class="middle-content">
    <div class="sheet-panel">
      <h1 class="sheet-header">ordering a visit</h1>
      <div class="profile-beam">
        <div id="sheet-profile-img" class="profile-img"></div>
        <div class="profile-info">
          <h1 class="profile-name">Elliot Bernard Patel</h1>
          <p class="profile-profession">barber</p>
        </div>
      </div>
      <ul class="sheet-info-ul">
        <li class="sheet-info-li">
          <div id="sheet-date-img" class="sheet-info-img"></div>
          <p class="sheet-info">12 Nov 2021, 20:00</p>
        </li>
        <li class="sheet-info-li">
          <div id="sheet-phone-img" class="sheet-info-img"></div>
          <p class="sheet-info">865 305 731</p>
        </li>
        <li class="sheet-info-li">
          <div id="sheet-email-img" class="sheet-info-img"></div>
          <p class="sheet-info">email@email.com</p>
        </li>
        <li class="sheet-info-li">
          <div id="sheet-payment-img" class="sheet-info-img"></div>
          <p class="sheet-info">cash</p>
        </li>
      </ul>
    </div>
    <div class="sheet-panel">
      <div class="sheet-section">
        <h2 class="sheet-section-header">Who are you making an appointment for?</h2>
        <div class="sheet-type">
          <div class="sheet-radio">
            <input class="radio-input" type="radio" name="type-visit" id="self-visit">
            <label class="radio-sheet-label" for="self-visit">for myself</label>
          </div>
          <div class="sheet-radio">
            <input class="radio-input" type="radio" name="type-visit" id="someone-visit">
            <label class="radio-sheet-label" for="someone-visit">for someone</label>
          </div>
        </div>
      </div>
      <div class="sheet-section">
        <h2 class="sheet-section-header">treatments</h2>
        <ul class="sheet-treatment-ul">
          <li class="sheet-treatment-li">
            <input class="checkbox-input" type="checkbox" name="treatment" id="treatment-1">
            <label class="treatment-checkbox" for="treatment-1"></label>
            <p class="treatment-p">treatment</p>
            <p class="treatment-p treatment-value">value</p>
          </li>
          <li class="sheet-treatment-li">
            <input class="checkbox-input" type="checkbox" name="treatment" id="treatment-2">
            <label class="treatment-checkbox" for="treatment-2"></label>
            <p class="treatment-p">treatment</p>
            <p class="treatment-p treatment-value">value</p>
          </li>
          <li class="sheet-treatment-li">
            <input class="checkbox-input" type="checkbox" name="treatment" id="treatment-3">
            <label class="treatment-checkbox" for="treatment-3"></label>
            <p class="treatment-p">treatment</p>
            <p class="treatment-p treatment-value">value</p>
          </li>
        </ul>
      </div>
      <div class="sheet-section">
        <h2 class="sheet-section-header">ordering party's personal data</h2>
        <div class="sheet-personal-data">
          <input class="sheet-text-input" placeholder="name" type="text">
          <input class="sheet-text-input" placeholder="surname" type="text">
        </div>
      </div>
      <div class="sheet-section">
        <h2 class="sheet-section-header">personal data</h2>
        <div class="sheet-personal-data">
          <input class="sheet-text-input" placeholder="name" type="text">
          <input class="sheet-text-input" placeholder="surname" type="text">
        </div>
      </div>
      <div class="sheet-section">
        <h2 class="sheet-section-header">address</h2>
        <div class="sheet-address">
          <input class="sheet-text-input" placeholder="city" type="text">
          <input class="sheet-text-input" placeholder="street and house number/apartment number" type="text">
        </div>
      </div>
      <div class="sheet-section">
        <h2 class="sheet-section-header">contact details</h2>
        <div class="sheet-contact">
          <input class="sheet-text-input" placeholder="phone number" type="text">
          <input class="sheet-text-input" placeholder="email@email.com" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="end-beam">
    <a id="fb-img" class="social-img" href="https://www.facebook.com/"></a>
    <a id="tt-img" class="social-img" href="https://twitter.com"></a>
    <a id="ig-img" class="social-img" href="https://instagram.com"></a>
  </div>
</body>
</html>