@import './variables/fonts'
@import './variables/colors'

.panel-pink
  background: $pink

.profile-photo-container
  width: 100%
  height: 4.7em
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: nowrap
  flex-direction: row

.profile-picture
  height: 100%
  width: auto
  border-radius: 0.3em
  box-shadow: 0 0 0.6em -1px $grey

.profile-button
  width: 100%
  margin-left: 5%
  height: 100%
  border: none
  border-radius: 0.3em
  box-shadow: 0 0 0.6em -1px $grey
  font-family: $rubik
  font-size: 1.6em

.edit-profile
  background: $grey
  color: $white

  &:hover
    background: $grey-bright

.info-ul
  padding: 0
  list-style-type: none
  width: 100%
  height: auto
  margin-top: 1.6em
  margin-bottom: 0
  border-radius: 0.3em
  background: $white
  padding: 1.25em
  box-sizing: border-box
  box-shadow: 0 0 0.6em -1px $grey

.info-li
  display: flex
  justify-content: space-between
  margin-bottom: 0.6em
  border-bottom: 1px solid $grey

  &:last-child
    margin-bottom: 0

.name-data
  width: 50%
  font-family: $rubik
  color: $grey
  font-size: 1.2em

.data
  width: 50%
  font-family: $rubik
  color: $pink
  font-size: 1.2em

.address-cotainer
  width: 100%
  height: auto
  display: flex
  align-items: center
  justify-content: space-between

  .address-area
    width: 48%
    height: 4.7em
    background: $white
    border-radius: 0.3em
    display: flex
    justify-content: flex-start
    align-items: center
    box-shadow: 0 0 0.6em -1px $grey
    padding: 0 0.6em
    box-sizing: border-box

.info-img
  width: 2.2em
  height: auto

.address-info
  padding-left: 0.6em
  margin: 0
  font-size: 1.4em
  font-family: $rubik
  color: $grey

.schedule-header
  width: 100%
  font-size: 2em
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  border-bottom: $pink solid 2px
  font-family: $rubik
  color: $pink
  margin-bottom: 0.5em

.schedule-container
  width: 100%
  height: auto
  display: flex
  justify-content: flex-start
  align-items: flex-start
  box-sizing: border-box

.day-container
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  justify-content: flex-start
  align-items: center
  box-sizing: border-box

.day-label
  margin: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  font-size: 0.9em
  color: $pink
  font-family: $rubik
  margin-bottom: 0.3em

.day-schedule
  list-style-type: none
  box-sizing: border-box
  width: 85%
  height: auto
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  padding: 0
  flex-wrap: wrap

  li
    width: 100%
    background: $grey
    margin-bottom: 0.6em
    border-radius: 0.3em
    display: flex
    justify-content: center
    align-items: center
    font-size: 1em
    padding: 0.5em
    font-family: $rubik
    color: $white

.decription-header
  font-size: 2em
  width: 100%
  margin: 0
  font-family: $rubik
  color: $pink
  border-bottom: 2px solid $pink
  margin-bottom: 0.4em
  display: flex
  justify-content: flex-start
  align-items: center

.description
  margin: 0
  font-size: 0.8em
  font-family: $rubik
  width: 100%

.additional-info-header
  font-size: 2em
  width: 100%
  margin: 0
  font-family: $rubik
  color: $pink
  border-bottom: 2px solid $pink
  margin-bottom: 0.4em
  display: flex
  justify-content: flex-start
  align-items: center

.add-info-container
  width: 100%
  height: auto
  display: flex
  justify-content: flex-start
  align-items: flex-start
  margin-bottom: 1em

  &:last-child
    margin-bottom: 0

.add-info-img
  width: 1.9em
  height: 100%
  display: flex
  justify-content: center
  align-items: flex-start

.add-info-area
  width: 100%
  height: auto
  padding-left: 1em
  display: flex
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap

.add-info-subheader
  width: 100%
  margin: 0
  font-size: 1.4em
  font-family: $rubik
  color: $pink
  border-bottom: 2px solid $grey

.informations
  width: 100%
  margin: 0
  margin-top: 0.6em
  padding: 0
  list-style-type: none

  li
    font-size: 1.1em
    border-bottom: 1px solid $grey-bright
    margin-bottom: 0.4em
    font-family: $rubik
    color: $grey-bright

.price-header
  width: 100%
  font-size: 2em
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  border-bottom: $pink solid 2px
  font-family: $rubik
  color: $pink
  margin-bottom: 0.5em

.price-list
  margin: 0
  padding: 0
  list-style-type: none
  width: 100%

  li
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    margin-bottom: 0.4em
    font-family: $rubik
    font-size: 1.4em

    &:last-child
      margin-bottom: 0

.price-li
  border-bottom: 1px solid $grey

.name-price, .value-price
  margin: 0

.name-price
  color: $pink

.value-price
  color: $grey
