@import './variables/fonts'
@import './variables/colors'

*
  font-size: 24px

body
  width: 100vw
  height: 100vh
  padding: 0
  margin: 0
  display: flex
  justify-content: flex-end
  align-items: center
  background: transparent url(../../assets/img/login-background-opta.png) 0% 0% no-repeat padding-box
  background-size: cover

.lo-container
  height: auto
  min-height: max-content
  width: 24%
  min-width: 420px
  background: $white
  display: flex
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap
  padding: 20px
  box-sizing: border-box
  margin-right: 100px
  border-radius: 5px
  box-shadow: 0 0 10px -1px $grey

.lo-logo
  width: 100%
  height: auto
  margin: 0
  margin-bottom: 20px
  text-align: center
  font-size: 2.5em
  font-family: $dancing-script
  color: $pink

  a
    font-size: inherit
    text-decoration: none
    color: inherit
    font-family: inherit

.lo-radio-section
  width: 100%
  height: auto
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 20px
  box-sizing: border-box

.lo-radio-area
  width: 100%
  height: auto
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  padding: 15px
  box-sizing: border-box

.lo-radio
  width: 100%
  height: auto
  border: 4px solid $grey
  background: $grey
  padding: 25px
  border-radius: 5px
  box-shadow: 0 0 10px -1px $grey

  &:hover
    border-color: $pink-bright
    background: $pink-bright

.lo-radio-img
  width: 100%

#lo-chair
  content: url(../../assets/svg/chair/chair-white.svg)

#lo-firm
  content: url(../../assets/svg/firm/signboard-white.svg)

input[type="radio"]
  display: none

  &:checked
    & ~ .lo-radio
      background: $pink
      border-color: $pink

      &:hover
        background: $pink
        border-color: $pink

.lo-radio-label
  font-family: $rubik
  font-size: 1.1em
  color: $grey

.lo-input-text-area
  width: 100%
  height: auto
  display: flex
  align-items: flex-start
  justify-content: center
  flex-wrap: wrap
  margin-bottom: 20px

.lo-input-text
  width: 100%
  height: auto
  margin: 10px
  padding: 10px 5px 10px 15px
  font-size: 1.1em
  font-family: $rubik
  border-radius: 5px
  border: none
  box-shadow: 0 0 10px -1px $grey
  box-sizing: border-box
  color: $grey

  &::placeholder
    color: $grey-bright

  &:hover
    color: $pink-bright

    &::placeholder
      color: $pink-bright

  &:focus
    outline: none
    color: $pink

    &::placeholder
      color: $pink-bright

    &:hover
      color: $pink

.lo-button
  width: 100%
  height: auto
  padding: 10px 5px
  margin: 0 10px
  border: none
  color: $white
  background: $grey
  border-radius: 5px
  font-family: $rubik
  font-size: 1.4em
  box-shadow: 0 0 10px -1px $grey

  &:hover
    background: $pink

  &:focus
    outline: none

  & + a
    width: 100%
    margin: 10px 10px 0 10px
    font-size: 0.6em
    text-decoration: none
    color: $black
    font-weight: bold
    font-family: $rubik

    &:hover
      color: $pink
