@import './variables/fonts'
@import './variables/colors'

.nb-logo
  min-width: 400px
  width: 25%

.nb-right-section
  width: auto

.middle-content
  width: 100%
  height: auto
  min-height: 100vh
  display: flex
  justify-content: space-between
  align-items: flex-start

.mp-center-area
  width: 40%
  padding: 20px
  box-sizing: border-box
  min-width: 720px
  height: auto
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center

.mp-left-area, .mp-right-area
  width: 25%
  max-width: 500px
  height: auto
  min-height: 100%
  padding: 20px
  box-sizing: border-box
  min-width: 400px
  display: flex
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap

.mp-left-panel, .mp-right-panel
  width: 100%
  height: auto
  padding: 20px
  background: $white
  border-radius: 5px
  box-shadow: 0 0 10px -1px $grey
  margin-bottom: 20px
  box-sizing: border-box

  &:last-child
    margin-bottom: 0

.mp-search-section
  width: 100%
  height: auto
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin-bottom: 20px

  &:first-child
    margin-bottom: 0

.mp-search-text-input
  margin: 0
  margin-bottom: 20px
  width: 100%
  height: auto
  font-family: $rubik
  padding: 5px 5px 5px 10px
  border-radius: 5px
  border: none
  box-shadow: 0 0 10px -1px $grey
  color: $grey

  &::placeholder
    color: $grey-bright

  &:focus
    outline: none
    color: $pink

    &::placeholder
      color: $pink

    &:hover
      color: $pink

      &::placeholder
        color: $pink-bright

  &:hover
    color: $pink-bright

    &::placeholder
      color: $pink-bright

.mp-search-button
  width: 100%
  padding: 5px
  border: none
  border-radius: 5px
  background: $grey
  color: $white
  box-shadow: 0 0 10px -1px $grey

  &:hover
    background: $pink

  &:focus
    outline: none

.mp-search-section-header
  margin: 0
  margin-bottom: 20px
  width: 100%
  height: auto
  font-size: 1.1em
  font-family: $rubik
  color: $pink
  padding-bottom: 5px
  border-bottom: 1px solid $grey-bright

.mp-search-ul, .mp-selected-ul
  margin: 0
  padding: 0
  list-style-type: none
  width: 100%
  height: auto

.mp-search-li, .mp-selected-li
  width: 100%
  height: auto
  margin-bottom: 5px
  padding: 5px
  padding-left: 0
  box-sizing: border-box
  border-bottom: 1px solid $grey-bright
  display: flex
  align-items: center

input[type="checkbox"]
  display: none

  &:checked
    & + .mp-checkbox
      border-color: $pink
      background: $pink

    & ~ .mp-checkbox-label
      color: $pink

  &:disabled
    & + .mp-checkbox
      border-color: $white-hover
      background: $white-hover

    & ~ .mp-checkbox-label
      color: $white-hover

.mp-checkbox
  width: 20px
  height: 20px
  min-height: 20px
  min-width: 20px
  border: 2px solid $grey
  border-radius: 5px
  margin-right: 10px

  &:hover
    border-color: $pink-bright
    background: $pink-bright

    & + .mp-checkbox-label
      color: $pink-bright

.mp-checkbox-label
  width: 100%
  height: 100%
  font-size: 0.8em
  font-family: $rubik
  color: $grey
  overflow-wrap: anywhere

.mp-price-text-input
  margin-bottom: 0

.mp-show-button
  margin-top: 5px
  font-size: 0.6em
  font-family: $rubik
  border: none
  background: $white
  color: $grey-bright

  &:focus
    outline: none

  &:hover
    color: $pink

#building-img
  content: url(../../assets/svg/home/home-grey.svg)

#map-img
  content: url(../../assets/svg/placeholder/placeholder-grey.svg)

#pin-img
  content: url(../../assets/svg/pin/safety-pin-grey.svg)

#service-img
  content: url(../../assets/svg/quality/quality-grey.svg)

#cash-max-img
  content: url(../../assets/svg/cash-much/cash-much-grey.svg)

#cash-min-img
  content: url(../../assets/svg/cash-few/cash-few-grey.svg)

#payment-img
  content: url(../../assets/svg/card/credit-card-grey.svg)

.mp-right-panel
  display: flex
  justify-content: center
  align-items: flex-start

.mp-right-panel-img
  width: 30px
  margin-right: 10px
  height: 100%

.mp-selected-li
  font-size: 1.2em
  font-family: $rubik
  color: $grey
  padding: 0
  overflow-wrap: anywhere

.mp-selected-ul .mp-selected-li:last-child
    margin-bottom: 0
    border: none

.mp-page-select-area
  width: 100%
  height: auto
  max-height: 100px
  display: flex
  justify-content: center
  align-items: center
  padding: 10px 0

.mp-page-select-ul
  margin: 0
  padding: 0
  list-style-type: none
  width: 100%
  height: 70px
  display: flex
  justify-content: center
  align-items: center

.mp-page-select-li
  padding: 10px
  margin: 5px
  background: $pink
  box-sizing: border-box
  font-size: 1.2em
  border-radius: 5px
  color: $white
  font-family: $rubik
  min-width: 50px
  min-height: 50px
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 0 10px -1px $grey

  &:hover
    background: $grey

#page-selected
  background: $grey

.mp-center-panel
  width: 100%
  height: auto
  border-radius: 5px
  background: $white
  padding: 20px
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 20px
  box-shadow: 0 0 10px -1px $grey

  &:last-child
    margin-bottom: 0

#mp-photo
  content: url(../../assets/img/person-profile.jpeg)

.mp-center-subarea
  display: flex
  justify-content: center
  align-items: flex-start
  width: 100%
  height: auto
  flex-wrap: wrap
  border-right: 1px solid $grey-bright

.mp-profile-area
  width: 100%
  height: auto
  display: flex
  justify-content: flex-start
  align-items: flex-start

.mp-profile-photo
  width: 70px
  height: auto
  min-width: 70px
  border-radius: 5px
  margin-right: 10px
  box-sizing: border-box
  box-shadow: 0 0 10px -1px $grey

.mp-profile-header
  width: 100%
  height: auto
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-wrap: wrap

.mp-profile-h1
  width: 100%
  margin: 0
  font-family: $rubik
  color: $pink
  margin-bottom: 5px
  font-size: 1em

.mp-profile-p
  margin: 0
  font-family: $rubik
  font-size: 0.7em
  color: $grey-bright
  width: 100%
  height: auto
