@import './variables/fonts'
@import './variables/colors'

div
  width: auto

.profile-description
  margin: 0
  width: 100%
  height: auto
  font-family: $rubik
  font-size: 1em
  color: $grey

.profile-beam
  width: 100%
  height: 5.6em
  display: flex
  justify-content: flex-start
  align-items: center
  padding-bottom: 0.6em
  margin-bottom: 0.6em
  border-bottom: 1px solid $grey-bright

.profile-info
  width: 100%
  height: 100%
  display: flex
  align-items: flex-start
  align-content: flex-start
  margin-left: 1.25em
  justify-content: flex-start
  flex-wrap: wrap

.profile-name
  width: 100%
  margin: 0
  font-size: 1.6em
  font-family: $rubik
  color: $pink

.profile-profession
  margin: 0
  font-family: $rubik
  color: $grey
  font-size: 1.1em
  width: 100%

.profile-img
  height: 100%
  width: auto
  border-radius: 0.3em
  box-shadow: 0.1em
  box-shadow: 0 0 0.6em -1px $grey

.schedule-beam
  width: 100%
  height: 3.75em
  margin-bottom: 0.6em
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 2px solid $pink

.schedule-header
  margin: 0
  font-size: 2em
  font-family: $rubik
  color: $pink

.schedule-arrow
  border: none
  background: $white
  height: 60%
  padding: 0
  display: flex
  align-items: center
  justify-content: center

  &:focus
    outline: none

.arrow
  height: 100%
  content: url(../../assets/svg/arrow/next-grey.svg)
  display: flex
  justify-content: center
  align-items: center

  &:hover
    content: url(../../assets/svg/arrow/next-pink.svg)

#schedule-arrow-left
  transform: rotate(180deg)

#schedule-arrow-right
  transform: rotate(0deg)

.schedule-container
  width: 100%
  height: auto
  display: flex
  align-items: flex-start
  justify-content: space-between

.schedule-ul
  padding: 0
  margin: 0
  list-style-type: none
  width: 100%
  height: auto
  display: flex
  justify-content: center
  align-content: flex-start
  flex-wrap: wrap

.schedule-ul-header
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: center
  flex-wrap: wrap
  margin-bottom: 0.6em
  align-content: flex-start

.day
  margin: 0
  font-size: 1.1em
  font-family: $rubik
  color: $pink
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.data
  width: 100%
  font-size: 0.8em
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  color: $grey
  font-family: $rubik

.schedule-li
  width: 85%
  height: 2.5em
  background: $grey
  border-radius: 0.3em
  box-shadow: 0 0 0.3em -1px $black
  display: flex
  justify-content: center
  align-items: center
  color: $white
  margin-bottom: 0.6em
  font-family: $rubik
  font-size: 1.1em
  border: none

  &:hover
    background: $pink

.schedule-li-booked
  background: $grey-bright

  &:hover
    background: $grey-bright

.contact-beam, .price-beam, .add-info-beam
  width: 100%
  margin: 0
  font-family: $rubik
  font-size: 2em
  color: $pink
  border-bottom: 2px solid $pink
  margin-bottom: 0.6em

.contact-ul, .price-ul
  margin: 0
  padding: 0
  list-style-type: none
  width: 100%
  height: auto

.contact-li, .price-li
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 0.6em
  height: auto
  width: 100%
  border-bottom: 1px solid $grey

.contact-type, .contact-value, .price-name, .price-value
  margin: 0
  height: 100%
  width: 100%
  font-family: $rubik
  display: flex
  justify-content: flex-start
  align-items: center
  font-size: 1.4em
  color: $grey

.contact-value, .price-value
  width: 150%
  color: $pink
  justify-content: flex-end

.price-value
  width: 50%
  justify-content: flex-end

.add-info-ul
  list-style-type: none
  margin: 0
  padding: 0
  width: 100%

.add-info-li
  width: 100%
  height: auto
  margin-bottom: 0.6em
  display: flex
  align-items: flex-start
  justify-content: flex-start

  &:last-child
    margin-bottom: 0

.add-info-img
  width: 1.9em
  height: 100%
  padding-right: 0.6em

.add-info-container
  width: 100%
  height: auto
  display: flex
  align-items: flex-start
  justify-content: center
  flex-wrap: wrap

.add-info-header
  width: 100%
  font-size: 1.6em
  margin: 0
  font-family: $rubik
  border-bottom: 1px solid $grey
  color: $grey

.add-info-sub-ul
  width: 100%
  padding: 0
  list-style-type: none
  height: auto

.add-info-sub-li
  margin: 0.6em 0
  font-family: $rubik
  font-size: 1.3em
  color: $grey-bright
  width: 100%
  border-bottom: 1px solid $grey-bright
