@import './variables/fonts'
@import './variables/colors'

.re-panel-right-area, .re-panel-left-area
  height: auto
  display: flex
  align-items: flex-start
  justify-content: center
  flex-wrap: wrap
  box-sizing: border-box

.re-panel-right-area
  width: 40%
  padding-left: 0.6em

.re-panel-left-area
  width: 60%
  padding-right: 1.25em
  border-right: 1px solid $grey-bright

.re-header
  width: 100%
  margin: 0
  text-align: center
  font-size: 2em
  font-family: $rubik
  color: $pink

.re-price-ul, .re-data-ul
  width: 100%
  margin: 0
  padding: 0
  list-style-type: none
  margin: 0.6em 0

.re-price-li
  width: 100%
  height: auto
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid $grey-bright
  margin-bottom: 0.6em

  &:last-child
    margin-bottom: 0

.re-price-name, .re-price-value
  height: auto
  margin: 0
  font-size: 1.2em
  font-family: $rubik
  color: $grey
  overflow-wrap: anywhere
  white-space: nowrap

.re-price-name
  width: 80%
  text-align: left

.re-price-value
  width: 20%
  text-align: right

.re-price-sum
  width: 100%
  margin: 0
  font-family: $rubik
  color: $pink
  font-size: 1.4em
  margin-bottom: 0.6em
  text-align: right

.re-panel-cancel
  width: 100%
  margin-top: 0.6em
  padding: 0.3em 0
  background: $grey
  border: none
  border-radius: 0.3em
  font-family: $rubik
  color: $white
  box-shadow: 0 0 0.3em -1px $black
  font-size: 1.2em

  &:hover
    background: $delete-color

  &:focus
    outline: none

.re-profile-header
  width: 100%
  height: auto
  display: flex
  align-items: flex-start
  justify-content: flex-start
  margin-top: 1.25em
  padding-bottom: 0.6em

.re-profile-img
  height: auto
  width: 3.1em
  margin-right: 0.6em
  border-radius: 0.3em
  box-shadow: 0 0 0.6em -1px $grey

  &:hover
    opacity: 0.8

.re-profile-h1
  margin: 0
  width: 100%
  overflow-wrap: anywhere
  font-family: $rubik
  font-size: 1.2em
  color: $grey

.re-data-li
  width: 100%
  height: auto
  padding-bottom: 0.3em
  display: flex
  align-items: center
  justify-content: flex-start
  margin-bottom: 1.25em
  border-bottom: 1px solid $grey-bright

.re-data-info
  margin: 0
  font-size: 1.2em
  font-family: $rubik
  margin-left: 0.6em
  color: $grey

.re-data-img
  height: 1.6em

@media only screen and (max-device-width: 420px)
  .re-data-info, .re-price-name
    overflow-wrap: anywhere