@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300&display=swap");
body {
  margin: 0; }

input:focus {
  outline: none; }

button:focus {
  outline: none; }

form {
  width: inherit;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit; }

.form-margin-top {
  margin-top: 1em; }

.form-margin-bottom {
  margin-bottom: 1em; }

.form-margin-vertical {
  margin: 1em 0; }

.no-wrap-form {
  flex-wrap: nowrap; }

.form-row-reverse {
  flex-direction: row-reverse; }

.form-align-center {
  align-items: center; }

.form-row-spacebetween {
  justify-content: space-between; }

.container {
  width: 100%;
  min-height: 100vh;
  background: transparent radial-gradient(closest-side at 50% 50%, #E0E0E0 0%, #B5B5B5 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap; }

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

div {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%; }

.div-row-reverse {
  flex-direction: row-reverse; }

.standard-button {
  font-size: 1.4em;
  padding: 0.4em;
  width: 100%;
  box-sizing: border-box;
  margin: 0.4em;
  box-shadow: 0 0 0.3em -1px #000000;
  background: #707070;
  border-radius: 0.3em;
  text-align: center;
  font-family: "Rubik";
  color: #ffffff;
  border: none; }
  .standard-button:focus {
    outline: none; }
  .standard-button:hover {
    background: #fa8072; }

.nb-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fa8072;
  box-shadow: 0 0px 0.3em -1px #707070;
  padding: 0.3em 0;
  box-sizing: border-box; }

.nb-logo {
  margin: 0;
  font-size: 2.4em;
  font-family: rubik;
  width: 25%;
  text-align: center;
  font-family: "Dancing Script";
  color: #ffffff;
  white-space: nowrap;
  min-width: min-content; }

.nb-right-section {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.3em;
  box-sizing: border-box;
  min-width: max-content; }

.nb-none {
  display: none; }

.nb-sign {
  width: auto;
  height: auto; }

.nb-sign-button {
  font-size: 1.3em;
  font-family: "Rubik";
  margin: 0 0.2em;
  padding: 0.4em;
  border-radius: 0.3em;
  box-shadow: 0 0 0.3em -1px #000000;
  white-space: nowrap; }

.nb-sign-in {
  background: #ffffff;
  color: #fa8072; }

.nb-sign-up {
  background: #a1a0a0;
  color: #ffffff; }

.nb-tab {
  margin: 0 0.4em;
  font-size: 1.1em;
  font-family: "Rubik";
  padding: 0.1em 0.4em;
  color: #ffffff; }
  .nb-tab:hover {
    border-bottom: 0.3em solid #ffffff; }

#nb-current-tab {
  background: #ffffff;
  color: #fa8072;
  border-radius: 0.3em; }
  #nb-current-tab:hover {
    border-bottom: 0; }

.nb-profile {
  width: auto;
  height: 2.6em;
  display: flex;
  align-items: center;
  justify-content: center; }

.nb-button {
  height: 100%;
  font-size: 1.2em;
  box-sizing: border-box;
  font-family: "Rubik";
  border: none;
  border-radius: 0 0.3em 0.3em 0;
  color: #fa8072;
  background: #ffffff;
  padding: 0.1em 0.5em; }
  .nb-button:hover {
    background: #ffb3aa;
    color: #ffffff; }
  .nb-button:focus {
    outline: none; }

.nb-profile-img {
  height: 100%;
  border-radius: 0.3em 0 0 0.3em; }

.center-panels {
  width: 40%;
  margin: 0 1.2em;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.panel {
  width: 100%;
  height: auto;
  margin: 1.2em 0 0 0;
  padding: 1.2em;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 0.3em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 0 0.3em -1px #707070; }
  .panel:last-child {
    margin-bottom: 1.2em; }

.panel-header, .panel-subheader {
  width: 100%;
  margin: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.1em;
  border-bottom: 0.08em solid #707070;
  box-sizing: border-box;
  font-family: "Rubik";
  color: #fa8072;
  font-size: 2em; }

.panel-subheader {
  border-color: #a1a0a0;
  color: #a1a0a0;
  font-size: 1.8em;
  margin-top: 0.8em; }

.first-panel-subheader {
  margin-top: 0; }

.panel-photo-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

#file-photo {
  display: none; }

.file-label {
  font-size: 1.4em;
  padding: 0.4em;
  width: 100%;
  box-sizing: border-box;
  margin: 0.4em;
  box-shadow: 0 0 0.3em -1px #707070;
  background: #ffb3aa;
  border-radius: 0.3em;
  text-align: center;
  font-family: "Rubik";
  color: #ffffff; }
  .file-label:hover {
    background: #a1a0a0; }

.panel form div {
  margin-bottom: 1.2em; }
  .panel form div:last-child {
    margin-bottom: 0; }

.input-text {
  width: 75%;
  font-size: 1.4em;
  border: 0.08em solid #fa8072;
  border-radius: 0 0.3em 0.3em 0;
  padding: 0.2em 0.1em;
  color: #707070; }
  .input-text::placeholder {
    color: #a1a0a0; }
  .input-text:focus {
    outline: none;
    color: #fa8072; }
    .input-text:focus::placeholder {
      color: #ffb3aa; }
    .input-text:focus:hover {
      color: #fa8072; }
  .input-text:hover {
    color: #fa8072; }
    .input-text:hover::placeholder {
      color: #ffb3aa; }

.input-text-span {
  width: 25%;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik";
  background: #fa8072;
  border-radius: 0.3em 0 0 0.3em;
  color: #ffffff; }

.schedule-day-input {
  margin: 0.2em;
  font-size: 1.2em;
  padding: 0.3em 0.4em;
  border: none;
  border-radius: 0.3em;
  background: #707070;
  color: #ffffff;
  font-family: "Rubik";
  box-shadow: 0 0 0.3em -1px #000000; }
  .schedule-day-input:hover {
    background: #fa8072; }
  .schedule-day-input:focus {
    outline: none; }

.delete-input-button {
  width: 80%;
  margin-top: 0.6em;
  font-size: 1.3em;
  padding: 0.3em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  color: #ffffff;
  background: #a1a0a0;
  overflow-wrap: anywhere;
  white-space: normal; }
  .delete-input-button:hover {
    background: #d73a49; }

.add-input-text {
  width: 70%;
  font-size: 1.6em;
  border-radius: 0.3em 0 0 0.3em;
  border: 0.06em solid #707070;
  text-align: center;
  color: #707070; }
  .add-input-text::placeholder {
    color: #a1a0a0; }
  .add-input-text:focus {
    outline: none;
    color: #fa8072; }
    .add-input-text:focus::placeholder {
      color: #ffb3aa; }
    .add-input-text:focus:hover {
      color: #fa8072; }
  .add-input-text:hover {
    color: #fa8072; }
    .add-input-text:hover::placeholder {
      color: #ffb3aa; }

.add-button {
  width: 25%;
  font-size: 1.55em;
  border: 0.08em solid #707070;
  border-radius: 0 0.3em 0.3em 0;
  background: #707070;
  color: #ffffff;
  font-family: "Rubik";
  box-sizing: border-box; }
  .add-button:hover {
    background: #fa8072; }
    .add-button:hover + .add-input-text {
      border-color: #fa8072; }

input[name="description"] {
  width: 100%;
  border: 0.08em solid #707070;
  font-size: 1.4em;
  border-radius: 0.3em;
  padding: 0.2em;
  font-family: "Rubik";
  margin-bottom: 0.5em; }
  input[name="description"]::placeholder {
    color: #a1a0a0; }
  input[name="description"]:focus {
    outline: none;
    color: #fa8072;
    border-color: #fa8072; }
    input[name="description"]:focus::placeholder {
      color: #ffb3aa; }
    input[name="description"]:focus:hover {
      color: #fa8072; }
  input[name="description"]:hover {
    color: #fa8072; }
    input[name="description"]:hover::placeholder {
      color: #ffb3aa; }

.max-delete-input {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.6em; }
  .max-delete-input:last-child {
    margin-bottom: 0; }

.checkbox-label {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Rubik";
  color: #707070;
  font-size: 1.1em; }

.checkbox-mock {
  width: 1.4em;
  height: 1.4em;
  background: #ffffff;
  border-radius: 0.3em;
  border: 0.1px solid #707070;
  margin-right: 0.8em; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked ~ .checkbox-mock {
    background: #fa8072;
    border-color: #fa8072; }
    input[type="checkbox"]:checked ~ .checkbox-mock:hover {
      background: #fa8072;
      border-color: #fa8072; }
  input[type="checkbox"]:disabled ~ .checkbox-mock {
    border-color: #a1a0a0;
    background: #a1a0a0; }
    input[type="checkbox"]:disabled ~ .checkbox-mock:hover {
      border-color: #a1a0a0; }
  input[type="checkbox"]:disabled:checked ~ .checkbox-mock {
    background: #a1a0a0;
    border-color: #a1a0a0; }
    input[type="checkbox"]:disabled:checked ~ .checkbox-mock:hover {
      background: #a1a0a0;
      border-color: #a1a0a0; }

.list-span {
  width: 70%;
  font-size: 1.3em;
  font-family: "Rubik";
  padding: 0.2em 0.6em;
  box-sizing: border-box;
  border-radius: 0.3em;
  background: #707070;
  color: #ffffff;
  margin-right: 0.5em;
  overflow-wrap: anywhere;
  box-shadow: 0 0 0.3em -1px #000000; }

.delete-button {
  font-size: 1.3em;
  font-family: "Rubik";
  border: none;
  border-radius: 0.3em;
  padding: 0.2em 0.6em;
  color: #ffffff;
  background: #a1a0a0;
  box-shadow: 0 0 0.3em -1px #000000; }
  .delete-button:hover {
    background: #d73a49; }
    .delete-button:hover ~ .list-span {
      background: #d73a49; }

.list-price {
  width: max-content;
  white-space: nowrap; }

.add-button-product {
  width: 15%;
  font-size: 1.2em;
  margin: 0.2em;
  font-family: "Rubik";
  border: none;
  border-radius: 0.3em;
  color: #ffffff;
  background: #a1a0a0;
  padding: 0.2em 0.6em;
  box-shadow: 0 0 0.3em -1px #000000; }
  .add-button-product:focus {
    outline: none; }
  .add-button-product:hover {
    background: #fa8072; }
    .add-button-product:hover ~ .add-input-specjal {
      border-color: #fa8072; }

.add-input-specjal {
  padding: 0.2em 0.6em;
  font-size: 1.2em;
  margin: 0 0.2em;
  border: 0.08em solid #707070;
  border-radius: 0.3em;
  font-family: "Rubik"; }
  .add-input-specjal::placeholder {
    color: #a1a0a0; }
  .add-input-specjal:focus {
    outline: none;
    color: #fa8072; }
    .add-input-specjal:focus::placeholder {
      color: #ffb3aa; }
    .add-input-specjal:focus:hover {
      color: #fa8072; }
  .add-input-specjal:hover {
    color: #fa8072; }
    .add-input-specjal:hover::placeholder {
      color: #ffb3aa; }

.add-product {
  width: 50%; }

.add-price {
  width: 20%; }

/*# sourceMappingURL=edit-page.css.map */
