@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300&display=swap");
.nb-logo {
  min-width: 400px;
  width: 25%; }

.nb-right-section {
  width: auto; }

.middle-content {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.mp-center-area {
  width: 40%;
  padding: 20px;
  box-sizing: border-box;
  min-width: 720px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.mp-left-area, .mp-right-area {
  width: 25%;
  max-width: 500px;
  height: auto;
  min-height: 100%;
  padding: 20px;
  box-sizing: border-box;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; }

.mp-left-panel, .mp-right-panel {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px -1px #707070;
  margin-bottom: 20px;
  box-sizing: border-box; }
  .mp-left-panel:last-child, .mp-right-panel:last-child {
    margin-bottom: 0; }

.mp-search-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .mp-search-section:first-child {
    margin-bottom: 0; }

.mp-search-text-input {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  font-family: "Rubik";
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px -1px #707070;
  color: #707070; }
  .mp-search-text-input::placeholder {
    color: #a1a0a0; }
  .mp-search-text-input:focus {
    outline: none;
    color: #fa8072; }
    .mp-search-text-input:focus::placeholder {
      color: #fa8072; }
    .mp-search-text-input:focus:hover {
      color: #fa8072; }
      .mp-search-text-input:focus:hover::placeholder {
        color: #ffb3aa; }
  .mp-search-text-input:hover {
    color: #ffb3aa; }
    .mp-search-text-input:hover::placeholder {
      color: #ffb3aa; }

.mp-search-button {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #707070;
  color: #ffffff;
  box-shadow: 0 0 10px -1px #707070; }
  .mp-search-button:hover {
    background: #fa8072; }
  .mp-search-button:focus {
    outline: none; }

.mp-search-section-header {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  font-size: 1.1em;
  font-family: "Rubik";
  color: #fa8072;
  padding-bottom: 5px;
  border-bottom: 1px solid #a1a0a0; }

.mp-search-ul, .mp-selected-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: auto; }

.mp-search-li, .mp-selected-li {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #a1a0a0;
  display: flex;
  align-items: center; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked + .mp-checkbox {
    border-color: #fa8072;
    background: #fa8072; }
  input[type="checkbox"]:checked ~ .mp-checkbox-label {
    color: #fa8072; }
  input[type="checkbox"]:disabled + .mp-checkbox {
    border-color: #dddddd;
    background: #dddddd; }
  input[type="checkbox"]:disabled ~ .mp-checkbox-label {
    color: #dddddd; }

.mp-checkbox {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  border: 2px solid #707070;
  border-radius: 5px;
  margin-right: 10px; }
  .mp-checkbox:hover {
    border-color: #ffb3aa;
    background: #ffb3aa; }
    .mp-checkbox:hover + .mp-checkbox-label {
      color: #ffb3aa; }

.mp-checkbox-label {
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  font-family: "Rubik";
  color: #707070;
  overflow-wrap: anywhere; }

.mp-price-text-input {
  margin-bottom: 0; }

.mp-show-button {
  margin-top: 5px;
  font-size: 0.6em;
  font-family: "Rubik";
  border: none;
  background: #ffffff;
  color: #a1a0a0; }
  .mp-show-button:focus {
    outline: none; }
  .mp-show-button:hover {
    color: #fa8072; }

#building-img {
  content: url(../../assets/svg/home/home-grey.svg); }

#map-img {
  content: url(../../assets/svg/placeholder/placeholder-grey.svg); }

#pin-img {
  content: url(../../assets/svg/pin/safety-pin-grey.svg); }

#service-img {
  content: url(../../assets/svg/quality/quality-grey.svg); }

#cash-max-img {
  content: url(../../assets/svg/cash-much/cash-much-grey.svg); }

#cash-min-img {
  content: url(../../assets/svg/cash-few/cash-few-grey.svg); }

#payment-img {
  content: url(../../assets/svg/card/credit-card-grey.svg); }

.mp-right-panel {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.mp-right-panel-img {
  width: 30px;
  margin-right: 10px;
  height: 100%; }

.mp-selected-li {
  font-size: 1.2em;
  font-family: "Rubik";
  color: #707070;
  padding: 0;
  overflow-wrap: anywhere; }

.mp-selected-ul .mp-selected-li:last-child {
  margin-bottom: 0;
  border: none; }

.mp-page-select-area {
  width: 100%;
  height: auto;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0; }

.mp-page-select-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center; }

.mp-page-select-li {
  padding: 10px;
  margin: 5px;
  background: #fa8072;
  box-sizing: border-box;
  font-size: 1.2em;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Rubik";
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px -1px #707070; }
  .mp-page-select-li:hover {
    background: #707070; }

#page-selected {
  background: #707070; }

.mp-center-panel {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 0 10px -1px #707070; }
  .mp-center-panel:last-child {
    margin-bottom: 0; }

#mp-photo {
  content: url(../../assets/img/person-profile.jpeg); }

.mp-center-subarea {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  border-right: 1px solid #a1a0a0; }

.mp-profile-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.mp-profile-photo {
  width: 70px;
  height: auto;
  min-width: 70px;
  border-radius: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px -1px #707070; }

.mp-profile-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }

.mp-profile-h1 {
  width: 100%;
  margin: 0;
  font-family: "Rubik";
  color: #fa8072;
  margin-bottom: 5px;
  font-size: 1em; }

.mp-profile-p {
  margin: 0;
  font-family: "Rubik";
  font-size: 0.7em;
  color: #a1a0a0;
  width: 100%;
  height: auto; }

/*# sourceMappingURL=main-page.css.map */
