@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300&display=swap");
.container {
  justify-content: flex-start; }

.mp-left-panel {
  flex-direction: column; }

.mp-left-area, .mp-right-area {
  width: 25%;
  height: auto;
  min-height: 100%;
  padding: 1.25em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; }
  .mp-left-area .panel:first-child, .mp-right-area .panel:first-child {
    margin-top: 0; }

.mp-left-panel {
  width: 100%;
  height: auto;
  padding: 1.25em;
  background: #ffffff;
  border-radius: 0.3em;
  box-shadow: 0 0 0.6em -1px #707070;
  margin-bottom: 1.25em;
  box-sizing: border-box; }
  .mp-left-panel:last-child {
    margin-bottom: 0; }

.mp-search-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.25em; }
  .mp-search-section:first-child {
    margin-bottom: 0; }

.mp-search-text-input {
  margin: 0;
  margin-bottom: 1.25em;
  width: 100%;
  height: auto;
  font-family: "Rubik";
  font-size: 1.4em;
  padding: 0.3em 0.3em 0.3em 0.6em;
  border-radius: 0.3em;
  border: none;
  box-shadow: 0 0 0.6em -1px #707070;
  color: #707070; }
  .mp-search-text-input::placeholder {
    color: #a1a0a0; }
  .mp-search-text-input:focus {
    outline: none;
    color: #fa8072; }
    .mp-search-text-input:focus::placeholder {
      color: #fa8072; }
    .mp-search-text-input:focus:hover {
      color: #fa8072; }
      .mp-search-text-input:focus:hover::placeholder {
        color: #ffb3aa; }
  .mp-search-text-input:hover {
    color: #ffb3aa; }
    .mp-search-text-input:hover::placeholder {
      color: #ffb3aa; }

.mp-search-button {
  width: 100%;
  padding: 0.3em;
  border: none;
  font-size: 1.4em;
  border-radius: 0.3em;
  background: #707070;
  color: #ffffff;
  box-shadow: 0 0 0.6em -1px #707070; }
  .mp-search-button:hover {
    background: #fa8072; }
  .mp-search-button:focus {
    outline: none; }

.mp-search-section-header {
  margin: 0;
  margin-bottom: 0.5em;
  width: 100%;
  height: auto;
  font-size: 2em;
  font-family: "Rubik";
  color: #fa8072;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #a1a0a0; }

.mp-search-ul, .mp-selected-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: auto; }

.mp-search-li, .mp-selected-li {
  width: 100%;
  height: auto;
  margin-bottom: 0.3em;
  padding: 0.3em;
  padding-left: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #a1a0a0;
  display: flex;
  align-items: center; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked + .mp-checkbox {
    border-color: #fa8072;
    background: #fa8072; }
  input[type="checkbox"]:checked ~ .mp-checkbox-label {
    color: #fa8072; }
  input[type="checkbox"]:disabled + .mp-checkbox {
    border-color: #dddddd;
    background: #dddddd; }
  input[type="checkbox"]:disabled ~ .mp-checkbox-label {
    color: #dddddd; }

.mp-checkbox {
  width: 1.25em;
  height: 1.25em;
  min-height: 1.25em;
  min-width: 1.25em;
  border: 2px solid #707070;
  border-radius: 0.3em;
  margin-right: 0.6em; }
  .mp-checkbox:hover {
    border-color: #ffb3aa;
    background: #ffb3aa; }
    .mp-checkbox:hover + .mp-checkbox-label {
      color: #ffb3aa; }

.mp-checkbox-label {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Rubik";
  color: #707070;
  overflow-wrap: anywhere; }

.mp-price-text-input {
  margin-bottom: 0; }

.mp-show-button {
  margin-top: 0.3em;
  font-size: 1.2em;
  font-family: "Rubik";
  border: none;
  background: #ffffff;
  color: #a1a0a0; }
  .mp-show-button:focus {
    outline: none; }
  .mp-show-button:hover {
    color: #fa8072; }

.mp-center-subarea {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  height: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 1em; }
  .mp-center-subarea:nth-child(2) {
    padding-left: 0.3em;
    padding-right: 0;
    border-left: 1px solid #a1a0a0; }

.mp-profile-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.mp-profile-photo {
  width: 4.4em;
  height: auto;
  min-width: 4, 4em;
  border-radius: 0.3em;
  margin-right: 0.6em;
  box-sizing: border-box;
  box-shadow: 0 0 0.6em -1px #707070; }

.mp-profile-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }

.mp-profile-h1 {
  width: 100%;
  margin: 0;
  font-family: "Rubik";
  color: #fa8072;
  margin-bottom: 0.1em;
  font-size: 1.4em; }

.mp-profile-p {
  margin: 0;
  font-family: "Rubik";
  font-size: 0.7em;
  color: #a1a0a0;
  width: 100%;
  height: auto; }

.mp-profile-description {
  margin: 0;
  margin-top: 0.6em;
  font-size: 0.8em;
  font-family: "Rubik";
  color: #707070;
  width: 100%;
  height: auto; }

.mp-center-price-list {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 0.6em; }

.mp-center-price-li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a1a0a0;
  margin-bottom: 0.6em; }

.mp-price-name, .mp-price-value {
  font-size: 1em;
  font-family: "Rubik";
  margin: 0;
  overflow-wrap: anywhere;
  color: #000000; }

.mp-price-name {
  width: 80%;
  text-align: left; }

.mp-price-value {
  width: 20%;
  text-align: right; }

.mp-schedule-column {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.mp-schedule-header {
  margin: 0;
  font-family: "Rubik";
  color: #fa8072;
  font-size: 1em;
  box-sizing: border-box; }

.mp-schedule-subheader {
  margin: 0;
  font-family: "Rubik";
  color: #a1a0a0;
  font-size: 0.8em;
  padding-bottom: 0.3em; }

.mp-schedule-li {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 0.6em 0;
  margin-bottom: 0.6em;
  background: #707070;
  border-radius: 0.3em;
  font-family: "Rubik";
  color: #ffffff;
  box-shadow: 0 0 0.3em -1px #000000;
  border: none; }
  .mp-schedule-li:hover {
    background: #fa8072; }
  .mp-schedule-li:disabled {
    background: #a1a0a0; }
    .mp-schedule-li:disabled:hover {
      background: #a1a0a0; }

.mp-reserved-li {
  background: #a1a0a0; }
  .mp-reserved-li:hover {
    background: #a1a0a0; }

.mp-info-img {
  width: 1.25em;
  height: 1.25em;
  margin-left: 0.6em;
  content: url(../../assets/svg/arrow-fill/next-grey.svg); }

.mp-center-info {
  font-size: 1em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #707070;
  height: auto;
  margin-top: 1.25em;
  font-family: "Rubik";
  box-sizing: border-box;
  border: none;
  background: transparent; }
  .mp-center-info:hover {
    color: #fa8072; }
    .mp-center-info:hover .mp-info-img {
      content: url(../../assets/svg/arrow-fill/next-pink.svg); }

/*# sourceMappingURL=main-page.css.map */
