<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/standard-body/standard-body.css">
  <link rel="stylesheet" href="../../css/end-beam/end-beam.css">
</head>
<body>
  <div class="end-beam">
    <a id="fb-img" class="social-img" href="https://www.facebook.com/"></a>
    <a id="tt-img" class="social-img" href="https://twitter.com"></a>
    <a id="ig-img" class="social-img" href="https://instagram.com"></a>
  </div>
</body>
</html>