<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/navbar/navbar.css">
</head>
<body>
  <div class="nb-container">
    <h1 class="nb-logo">
      <a class="nb-logo-a" href="./search-page.html">Virtual Salon</a>
    </h1>
    <div class="nb-right-section">
      <a class="nb-tab nb-none" href="#">orders.</a>
      <a class="nb-tab nb-none" href="#">reservations.</a>
      <a class="nb-tab nb-none" id="nb-current-tab" href="#">my info.</a>
      <div class="nb-profile nb-none">
        <div id="nb-profile-photo" class="nb-profile-img"></div>
        <button class="nb-button">logout</button>
      </div>
      <div class="nb-sign">
        <button class="nb-sign-button nb-sign-in">sign in</button>
        <button class="nb-sign-button nb-sign-up">sign up</button>
      </div>
    </div>
  </div>
</body>
</html>