@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300&display=swap");
* {
  overflow-wrap: anywhere; }

.middle-content {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: column; }
  .middle-content .info-panel {
    height: 100%;
    width: 40%;
    min-width: 720px;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px -1px #707070; }

.profile-description {
  margin: 0;
  width: 100%;
  height: auto;
  font-family: "Rubik";
  font-size: 0.7em;
  color: #707070; }

.profile-beam {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #a1a0a0; }
  .profile-beam .profile-info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 20px;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .profile-beam .profile-info .profile-name {
      width: 100%;
      margin: 0;
      font-size: 1.2em;
      font-family: "Rubik";
      color: #fa8072; }
    .profile-beam .profile-info .profile-profession {
      margin: 0;
      font-family: "Rubik";
      color: #707070;
      font-size: 0.9em;
      width: 100%; }
  .profile-beam #profile-img {
    content: url(../../assets/img/person-profile.jpeg); }
  .profile-beam .profile-img {
    height: 100%;
    width: auto;
    border-radius: 5px;
    box-shadow: 2px;
    box-shadow: 0 0 10px -1px #707070; }

.schedule-beam {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fa8072; }
  .schedule-beam .schedule-header {
    margin: 0;
    font-size: 1.5em;
    font-family: "Rubik";
    color: #fa8072; }
  .schedule-beam .schedule-arrow {
    border: none;
    background: #ffffff;
    height: 60%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .schedule-beam .schedule-arrow:focus {
      outline: none; }
    .schedule-beam .schedule-arrow .arrow {
      height: 100%;
      content: url(../../assets/svg/arrow/next-grey.svg);
      display: flex;
      justify-content: center;
      align-items: center; }
      .schedule-beam .schedule-arrow .arrow:hover {
        content: url(../../assets/svg/arrow/next-pink.svg); }
    .schedule-beam .schedule-arrow #schedule-arrow-left {
      transform: rotate(180deg); }
    .schedule-beam .schedule-arrow #schedule-arrow-right {
      transform: rotate(0deg); }

.schedule-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .schedule-container .schedule-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap; }
    .schedule-container .schedule-ul .schedule-ul-header {
      width: 100%;
      height: 45px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      align-content: flex-start; }
      .schedule-container .schedule-ul .schedule-ul-header .day {
        margin: 0;
        font-size: 0.9em;
        font-family: "Rubik";
        color: #fa8072;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
      .schedule-container .schedule-ul .schedule-ul-header .data {
        width: 100%;
        font-size: 0.6em;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #707070;
        font-family: "Rubik"; }
    .schedule-container .schedule-ul .schedule-li {
      width: 85%;
      height: 40px;
      background: #707070;
      border-radius: 5px;
      box-shadow: 0 0 5px -1px #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      margin-bottom: 10px;
      font-family: "Rubik";
      font-size: 0.9em; }
      .schedule-container .schedule-ul .schedule-li:hover {
        background: #fa8072; }
    .schedule-container .schedule-ul .schedule-li-booked {
      background: #a1a0a0; }
      .schedule-container .schedule-ul .schedule-li-booked:hover {
        background: #a1a0a0; }

.contact-beam, .price-beam, .add-info-beam {
  width: 100%;
  margin: 0;
  font-family: "Rubik";
  font-size: 1.4em;
  color: #fa8072;
  border-bottom: 2px solid #fa8072;
  margin-bottom: 10px; }

.contact-ul, .price-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: auto; }
  .contact-ul .contact-li, .contact-ul .price-li, .price-ul .contact-li, .price-ul .price-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #707070; }
    .contact-ul .contact-li .contact-type, .contact-ul .contact-li .contact-value, .contact-ul .contact-li .price-name, .contact-ul .contact-li .price-value, .contact-ul .price-li .contact-type, .contact-ul .price-li .contact-value, .contact-ul .price-li .price-name, .contact-ul .price-li .price-value, .price-ul .contact-li .contact-type, .price-ul .contact-li .contact-value, .price-ul .contact-li .price-name, .price-ul .contact-li .price-value, .price-ul .price-li .contact-type, .price-ul .price-li .contact-value, .price-ul .price-li .price-name, .price-ul .price-li .price-value {
      margin: 0;
      height: 100%;
      width: 100%;
      font-family: "Rubik";
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.1em;
      color: #707070; }
    .contact-ul .contact-li .contact-value, .contact-ul .contact-li .price-value, .contact-ul .price-li .contact-value, .contact-ul .price-li .price-value, .price-ul .contact-li .contact-value, .price-ul .contact-li .price-value, .price-ul .price-li .contact-value, .price-ul .price-li .price-value {
      width: 150%;
      color: #fa8072; }
    .contact-ul .contact-li .price-value, .contact-ul .price-li .price-value, .price-ul .contact-li .price-value, .price-ul .price-li .price-value {
      width: 50%;
      justify-content: flex-end; }

.add-info-ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .add-info-ul .add-info-li {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
    .add-info-ul .add-info-li:last-child {
      margin-bottom: 0; }
    .add-info-ul .add-info-li #profession-img {
      content: url(../../assets/svg/brush/brush-grey.svg); }
    .add-info-ul .add-info-li #payment-img {
      content: url(../../assets/svg/card/credit-card-grey.svg); }
    .add-info-ul .add-info-li #certificate-img {
      content: url(../../assets/svg/education/mortarboard-grey.svg); }
    .add-info-ul .add-info-li #web-img {
      content: url(../../assets/svg/web/world-wide-web-grey.svg); }
    .add-info-ul .add-info-li #exp-img {
      content: url(../../assets/svg/quality/quality-grey.svg); }
    .add-info-ul .add-info-li #favorite-img {
      content: url(../../assets/svg/pin/safety-pin-grey.svg); }
    .add-info-ul .add-info-li .add-info-img {
      width: 30px;
      height: 100%;
      padding-right: 10px; }
    .add-info-ul .add-info-li .add-info-container {
      width: 100%;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap; }
      .add-info-ul .add-info-li .add-info-container .add-info-header {
        width: 100%;
        height: 30px;
        margin: 0;
        font-family: "Rubik";
        border-bottom: 1px solid #707070;
        color: #707070;
        font-size: 1em; }
      .add-info-ul .add-info-li .add-info-container .add-info-sub-ul {
        width: 100%;
        padding: 0;
        list-style-type: none;
        height: auto; }
        .add-info-ul .add-info-li .add-info-container .add-info-sub-ul .add-info-sub-li {
          margin: 5px 0;
          font-family: "Rubik";
          font-size: 0.9em;
          color: #a1a0a0;
          width: 100%;
          border-bottom: 1px solid #a1a0a0; }

/*# sourceMappingURL=profile-page.css.map */
