@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300&display=swap");
* {
  font-size: 24px; }

body {
  height: 100vh;
  width: 100vw;
  min-width: min-content;
  padding: 0;
  margin: 0;
  display: flex;
  background: transparent radial-gradient(closest-side at 50% 50%, #E0E0E0 0%, #B5B5B5 100%);
  align-items: flex-start;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap; }

.nav-bar-container {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: fit-content;
  height: 5%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #fa8072;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0px 5px -1px #707070; }
  .nav-bar-container .logo {
    height: 100%;
    width: 20%;
    min-width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin: 0;
    color: #ffffff;
    font-family: "Dancing Script";
    text-decoration: none; }
  .nav-bar-container .search-input-container {
    width: 35%;
    min-width: 305px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .nav-bar-container .search-input-container .search-input {
      width: 85%;
      min-width: 240px;
      height: 80%;
      padding: 0;
      margin: 0;
      border-radius: 5px;
      border: none;
      padding-left: 20px;
      font-size: 1em;
      font-family: "Rubik";
      color: #707070; }
      .nav-bar-container .search-input-container .search-input:focus {
        outline: none;
        color: #fa8072; }
        .nav-bar-container .search-input-container .search-input:focus::placeholder {
          color: #fa8072; }
        .nav-bar-container .search-input-container .search-input:focus:hover {
          color: #fa8072; }
          .nav-bar-container .search-input-container .search-input:focus:hover::placeholder {
            color: #fa8072; }
      .nav-bar-container .search-input-container .search-input:hover {
        color: #a1a0a0; }
        .nav-bar-container .search-input-container .search-input:hover::placeholder {
          color: #a1a0a0; }
    .nav-bar-container .search-input-container .search-button {
      height: 80%;
      min-height: 40px;
      width: 40px;
      min-width: 40px;
      border: none;
      padding: 4px;
      margin: 0;
      border-radius: 5px;
      margin-left: 2px;
      background: #ffffff; }
      .nav-bar-container .search-input-container .search-button .input-img {
        height: 100%;
        width: 100%; }
      .nav-bar-container .search-input-container .search-button #search-img {
        content: url(../../assets/svg/lens/magnifying-glass-grey.svg); }
      .nav-bar-container .search-input-container .search-button:focus {
        outline: none; }
      .nav-bar-container .search-input-container .search-button:hover #search-img {
        content: url(../../assets/svg/lens/magnifying-glass-pink.svg); }
  .nav-bar-container .nav-tabs-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 500px; }
    .nav-bar-container .nav-tabs-container .nav-tab {
      border: none;
      background: transparent;
      font-size: 0.7em;
      font-family: "Rubik";
      font-weight: bold;
      margin: 0 0.5%;
      padding: 0;
      min-width: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #000000; }
      .nav-bar-container .nav-tabs-container .nav-tab:hover {
        color: #ffffff; }
    .nav-bar-container .nav-tabs-container #nav-tab-current {
      color: #ffffff; }
    .nav-bar-container .nav-tabs-container .login-container {
      width: 16%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1%;
      min-width: 130px; }
      .nav-bar-container .nav-tabs-container .login-container .log-button {
        height: 80%;
        width: 100%;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0;
        margin: 0;
        font-size: 0.8em;
        color: #707070;
        background: #ffffff; }
        .nav-bar-container .nav-tabs-container .login-container .log-button:focus {
          outline: none; }
        .nav-bar-container .nav-tabs-container .login-container .log-button:hover {
          color: #fa8072; }
        .nav-bar-container .nav-tabs-container .login-container .log-button .input-img {
          height: 100%;
          width: auto;
          border-radius: 5px;
          margin-right: 18%; }
        .nav-bar-container .nav-tabs-container .login-container .log-button #profile-img {
          content: url(../../assets/img/person-profile.jpeg); }

.middle-content {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .middle-content .informations-container {
    background: #ffffff;
    width: 50%;
    min-width: 750px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 25px 0 25px 0;
    margin: 25px 0 25px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px -1px grey; }
    .middle-content .informations-container .account-label {
      width: 90%;
      height: 60px;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1.8em;
      font-family: "Rubik";
      color: #707070;
      border: none;
      border-bottom: 3px solid #707070;
      margin-top: 0; }
    .middle-content .informations-container .info-panel {
      width: 90%;
      height: auto;
      background: #fa8072;
      border-radius: 5px;
      box-shadow: 0 0 10px -1px #707070;
      margin-bottom: 25px;
      padding: 25px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      .middle-content .informations-container .info-panel:last-child {
        margin-bottom: 0; }
      .middle-content .informations-container .info-panel .profile-photo-container {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row; }
        .middle-content .informations-container .info-panel .profile-photo-container #photo {
          content: url(../../assets/img/person-profile.jpeg); }
        .middle-content .informations-container .info-panel .profile-photo-container .profile-picture {
          height: 100%;
          width: auto;
          border-radius: 5px;
          box-shadow: 0 0 10px -1px #707070; }
        .middle-content .informations-container .info-panel .profile-photo-container .profile-button {
          width: 100%;
          margin-left: 5%;
          height: 100%;
          border: none;
          border-radius: 5px;
          box-shadow: 0 0 10px -1px #707070;
          font-family: "Rubik";
          font-size: 1.2em; }
          .middle-content .informations-container .info-panel .profile-photo-container .profile-button:focus {
            outline: none; }
        .middle-content .informations-container .info-panel .profile-photo-container .change-button {
          background: #ffffff;
          color: #707070; }
          .middle-content .informations-container .info-panel .profile-photo-container .change-button:hover {
            background: #dddddd; }
        .middle-content .informations-container .info-panel .profile-photo-container .edit-button {
          background: #707070;
          color: #ffffff; }
          .middle-content .informations-container .info-panel .profile-photo-container .edit-button:hover {
            background: #a1a0a0; }
      .middle-content .informations-container .info-panel .info-ul {
        padding: 0;
        list-style-type: none;
        width: 100%;
        height: auto;
        margin-top: 25px;
        margin-bottom: 0;
        border-radius: 5px;
        background: white;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 0 10px -1px #707070; }
        .middle-content .informations-container .info-panel .info-ul .info-li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          border-bottom: 1px solid #707070; }
          .middle-content .informations-container .info-panel .info-ul .info-li:last-child {
            margin-bottom: 0; }
          .middle-content .informations-container .info-panel .info-ul .info-li .name-data {
            width: 50%;
            font-family: "Rubik";
            color: #707070; }
          .middle-content .informations-container .info-panel .info-ul .info-li .data {
            width: 50%;
            font-family: "Rubik";
            color: #fa8072; }
      .middle-content .informations-container .info-panel .password-container {
        width: 48%;
        height: 75px;
        margin: 0;
        background: white;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        box-shadow: 0 0 10px -1px #707070; }
        .middle-content .informations-container .info-panel .password-container .password-area {
          font-family: "Rubik";
          color: #707070; }
      .middle-content .informations-container .info-panel .password-button {
        height: 75px;
        width: 48%;
        border-radius: 5px;
        border: none;
        background: #707070;
        color: #ffffff;
        font-size: 1.2em;
        font-family: "Rubik"; }
        .middle-content .informations-container .info-panel .password-button:focus {
          outline: none; }
        .middle-content .informations-container .info-panel .password-button:hover {
          background: #a1a0a0; }

/*# sourceMappingURL=info-page.css.map */
