@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300&display=swap");
* {
  font-size: 24px; }

body {
  height: 100vh;
  width: 100%;
  min-width: min-content;
  padding: 0;
  margin: 0;
  display: flex;
  background: transparent radial-gradient(closest-side at 50% 50%, #E0E0E0 0%, #B5B5B5 100%);
  align-items: flex-start;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap; }

.nav-bar-container {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: fit-content;
  height: 5%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #fa8072;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0px 5px -1px #707070; }
  .nav-bar-container .logo {
    height: 100%;
    width: 20%;
    min-width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin: 0;
    color: #ffffff;
    font-family: "Dancing Script";
    text-decoration: none; }
  .nav-bar-container .search-input-container {
    width: 35%;
    min-width: 305px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .nav-bar-container .search-input-container .search-input {
      width: 85%;
      min-width: 240px;
      height: 80%;
      padding: 0;
      margin: 0;
      border-radius: 5px;
      border: none;
      padding-left: 20px;
      font-size: 1em;
      font-family: "Rubik";
      color: #707070; }
      .nav-bar-container .search-input-container .search-input:focus {
        outline: none;
        color: #fa8072; }
        .nav-bar-container .search-input-container .search-input:focus::placeholder {
          color: #fa8072; }
        .nav-bar-container .search-input-container .search-input:focus:hover {
          color: #fa8072; }
          .nav-bar-container .search-input-container .search-input:focus:hover::placeholder {
            color: #fa8072; }
      .nav-bar-container .search-input-container .search-input:hover {
        color: #a1a0a0; }
        .nav-bar-container .search-input-container .search-input:hover::placeholder {
          color: #a1a0a0; }
    .nav-bar-container .search-input-container .search-button {
      height: 80%;
      min-height: 40px;
      width: 40px;
      min-width: 40px;
      border: none;
      padding: 4px;
      margin: 0;
      border-radius: 5px;
      margin-left: 2px;
      background: #ffffff; }
      .nav-bar-container .search-input-container .search-button .input-img {
        height: 100%;
        width: 100%; }
      .nav-bar-container .search-input-container .search-button #search-img {
        content: url(../../assets/svg/lens/magnifying-glass-grey.svg); }
      .nav-bar-container .search-input-container .search-button:focus {
        outline: none; }
      .nav-bar-container .search-input-container .search-button:hover #search-img {
        content: url(../../assets/svg/lens/magnifying-glass-pink.svg); }
  .nav-bar-container .nav-tabs-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 500px; }
    .nav-bar-container .nav-tabs-container .nav-tab {
      border: none;
      background: transparent;
      font-size: 0.7em;
      font-family: "Rubik";
      font-weight: bold;
      margin: 0 0.5%;
      padding: 0;
      min-width: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #000000; }
      .nav-bar-container .nav-tabs-container .nav-tab:hover {
        color: #ffffff; }
    .nav-bar-container .nav-tabs-container #nav-tab-current {
      color: #ffffff; }
    .nav-bar-container .nav-tabs-container .login-container {
      width: 16%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1%;
      min-width: 130px; }
      .nav-bar-container .nav-tabs-container .login-container .log-button {
        height: 80%;
        width: 100%;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0;
        margin: 0;
        font-size: 0.8em;
        color: #707070;
        background: #ffffff; }
        .nav-bar-container .nav-tabs-container .login-container .log-button:focus {
          outline: none; }
        .nav-bar-container .nav-tabs-container .login-container .log-button:hover {
          color: #fa8072; }
        .nav-bar-container .nav-tabs-container .login-container .log-button .input-img {
          height: 100%;
          width: auto;
          border-radius: 5px;
          margin-right: 18%; }
        .nav-bar-container .nav-tabs-container .login-container .log-button #profile-img {
          content: url(../../assets/img/person-profile.jpeg); }

.end-beam {
  width: 100%;
  height: 50px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .end-beam .social-img {
    height: 70%;
    width: auto;
    margin: 0 20px; }
  .end-beam #ig-img {
    content: url(../../assets/svg/instagram/instagram-grey.svg); }
    .end-beam #ig-img:hover {
      content: url(../../assets/svg/instagram/instagram-pink.svg); }
  .end-beam #fb-img {
    content: url(../../assets/svg/facebook/facebook-grey.svg); }
    .end-beam #fb-img:hover {
      content: url(../../assets/svg/facebook/facebook-pink.svg); }
  .end-beam #tt-img {
    content: url(../../assets/svg/twitter/twitter-grey.svg); }
    .end-beam #tt-img:hover {
      content: url(../../assets/svg/twitter/twitter-pink.svg); }

.middle-content {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative; }
  .middle-content .informations-container {
    background: #ffffff;
    width: 50%;
    min-width: 750px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 25px 0 25px 0;
    margin: 25px 0 25px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px -1px grey; }
    .middle-content .informations-container .account-label {
      width: 90%;
      height: 60px;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1.8em;
      font-family: "Rubik";
      color: #707070;
      border: none;
      border-bottom: 3px solid #707070;
      margin-top: 0; }
    .middle-content .informations-container .delete-button {
      width: 90%;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: #707070;
      color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 0 10px -1px #a1a0a0;
      font-size: 1.2em;
      font-family: "Rubik"; }
      .middle-content .informations-container .delete-button:hover {
        background: #a1a0a0; }
      .middle-content .informations-container .delete-button:focus {
        outline: none; }
    .middle-content .informations-container .info-panel {
      width: 90%;
      height: auto;
      background: #fa8072;
      border-radius: 5px;
      box-shadow: 0 0 10px -1px #707070;
      margin-bottom: 25px;
      padding: 25px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: relative; }
      .middle-content .informations-container .info-panel:last-child {
        margin-bottom: 0; }
      .middle-content .informations-container .info-panel .profile-photo-container {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row; }
        .middle-content .informations-container .info-panel .profile-photo-container #photo {
          content: url(../../assets/img/person-profile.jpeg); }
        .middle-content .informations-container .info-panel .profile-photo-container .profile-picture {
          height: 100%;
          width: auto;
          border-radius: 5px;
          box-shadow: 0 0 10px -1px #707070; }
        .middle-content .informations-container .info-panel .profile-photo-container .profile-button {
          width: 100%;
          margin-left: 5%;
          height: 100%;
          border: none;
          border-radius: 5px;
          box-shadow: 0 0 10px -1px #707070;
          font-family: "Rubik";
          font-size: 1.2em; }
          .middle-content .informations-container .info-panel .profile-photo-container .profile-button:focus {
            outline: none; }
        .middle-content .informations-container .info-panel .profile-photo-container .change-button {
          background: #ffffff;
          color: #707070; }
          .middle-content .informations-container .info-panel .profile-photo-container .change-button:hover {
            background: #dddddd; }
        .middle-content .informations-container .info-panel .profile-photo-container .edit-button {
          background: #707070;
          color: #ffffff; }
          .middle-content .informations-container .info-panel .profile-photo-container .edit-button:hover {
            background: #a1a0a0; }
      .middle-content .informations-container .info-panel .info-ul {
        padding: 0;
        list-style-type: none;
        width: 100%;
        height: auto;
        margin-top: 25px;
        margin-bottom: 0;
        border-radius: 5px;
        background: white;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 0 10px -1px #707070; }
        .middle-content .informations-container .info-panel .info-ul .info-li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          border-bottom: 1px solid #707070; }
          .middle-content .informations-container .info-panel .info-ul .info-li:last-child {
            margin-bottom: 0; }
          .middle-content .informations-container .info-panel .info-ul .info-li .name-data {
            width: 50%;
            font-family: "Rubik";
            color: #707070; }
          .middle-content .informations-container .info-panel .info-ul .info-li .data {
            width: 50%;
            font-family: "Rubik";
            color: #fa8072; }
      .middle-content .informations-container .info-panel .password-container {
        width: 48%;
        height: 75px;
        margin: 0;
        background: white;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        box-shadow: 0 0 10px -1px #707070; }
        .middle-content .informations-container .info-panel .password-container .password-area {
          font-family: "Rubik";
          color: #707070; }
      .middle-content .informations-container .info-panel .password-button {
        height: 75px;
        width: 48%;
        border-radius: 5px;
        border: none;
        background: #707070;
        color: #ffffff;
        font-size: 1.2em;
        font-family: "Rubik";
        box-shadow: 0 0 10px -1px #707070; }
        .middle-content .informations-container .info-panel .password-button:focus {
          outline: none; }
        .middle-content .informations-container .info-panel .password-button:hover {
          background: #a1a0a0; }
      .middle-content .informations-container .info-panel .paycard {
        background: #ffffff;
        box-shadow: 0 0 10px -1px #707070;
        margin: 0;
        border-radius: 5px;
        display: flex;
        width: 50%;
        min-width: 310px;
        height: 180px; }
      .middle-content .informations-container .info-panel .card-buttons-container {
        height: 180px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        flex-wrap: wrap; }
        .middle-content .informations-container .info-panel .card-buttons-container .remove-card-button {
          width: 90%;
          height: 75px;
          box-shadow: 0 0 10px -1px #707070;
          background: #707070;
          border: none;
          border-radius: 5px;
          font-size: 1.2em;
          font-family: "Rubik";
          color: #ffffff; }
        .middle-content .informations-container .info-panel .card-buttons-container .disable-card-button {
          width: 90%;
          height: 75px;
          box-shadow: 0 0 10px -1px #707070;
          background: #ffffff;
          border: none;
          border-radius: 5px;
          font-size: 1.2em;
          font-family: "Rubik";
          color: #707070; }
      .middle-content .informations-container .info-panel .soon-overlay {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #707070;
        opacity: 0.8;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 3em; }
      .middle-content .informations-container .info-panel .address-cotainer {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .middle-content .informations-container .info-panel .address-cotainer .address-area {
          width: 48%;
          height: 75px;
          background: #ffffff;
          border-radius: 5px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          box-shadow: 0 0 10px -1px #707070;
          padding: 0 10px;
          box-sizing: border-box; }
          .middle-content .informations-container .info-panel .address-cotainer .address-area .info-img {
            width: 35px;
            height: auto; }
          .middle-content .informations-container .info-panel .address-cotainer .address-area #building-img {
            content: url(../../assets/svg/home/home-grey.svg); }
          .middle-content .informations-container .info-panel .address-cotainer .address-area #map-img {
            content: url(../../assets/svg/placeholder/placeholder-grey.svg); }
          .middle-content .informations-container .info-panel .address-cotainer .address-area .address-info {
            padding-left: 10px;
            margin: 0;
            font-size: 1.2em;
            font-family: "Rubik";
            color: #707070; }
      .middle-content .informations-container .info-panel .address-button {
        width: 100%;
        height: 75px;
        margin-top: 25px;
        border: none;
        border-radius: 5px;
        background: #707070;
        box-shadow: 0 0 10px -1px #707070;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Rubik";
        font-size: 1.2em;
        color: #ffffff; }
        .middle-content .informations-container .info-panel .address-button:focus {
          outline: none; }
        .middle-content .informations-container .info-panel .address-button:hover {
          background: #a1a0a0; }
    .middle-content .informations-container .worker-informations-container {
      background: #707070;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      padding: 25px 0 25px 0;
      margin: 0;
      margin-bottom: 25px; }
      .middle-content .informations-container .worker-informations-container .info-panel {
        width: 90%;
        height: auto;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 10px -1px #a1a0a0;
        margin-bottom: 25px;
        padding: 25px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative; }
        .middle-content .informations-container .worker-informations-container .info-panel:last-child {
          margin-bottom: 0; }
        .middle-content .informations-container .worker-informations-container .info-panel .schedule-header {
          width: 100%;
          font-size: 1.4em;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: #fa8072 solid 2px;
          font-family: "Rubik";
          color: #fa8072;
          margin-bottom: 25px; }
        .middle-content .informations-container .worker-informations-container .info-panel .schedule-container {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          box-sizing: border-box; }
          .middle-content .informations-container .worker-informations-container .info-panel .schedule-container .day-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box; }
            .middle-content .informations-container .worker-informations-container .info-panel .schedule-container .day-container .day-label {
              margin: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.7em;
              color: #fa8072;
              font-family: "Rubik";
              margin-bottom: 5px; }
            .middle-content .informations-container .worker-informations-container .info-panel .schedule-container .day-container .day-schedule {
              list-style-type: none;
              box-sizing: border-box;
              width: 85%;
              height: auto;
              margin: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              flex-wrap: wrap; }
              .middle-content .informations-container .worker-informations-container .info-panel .schedule-container .day-container .day-schedule li {
                width: 100%;
                height: 35px;
                background: #707070;
                margin-bottom: 10px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.75em;
                font-family: "Rubik";
                color: #ffffff; }
            .middle-content .informations-container .worker-informations-container .info-panel .schedule-container .day-container .day-schedule-button {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.5em;
              border: none;
              background: #ffffff;
              font-family: "Rubik";
              color: #707070; }
              .middle-content .informations-container .worker-informations-container .info-panel .schedule-container .day-container .day-schedule-button:hover {
                color: #fa8072; }
              .middle-content .informations-container .worker-informations-container .info-panel .schedule-container .day-container .day-schedule-button:focus {
                outline: none; }
        .middle-content .informations-container .worker-informations-container .info-panel .decription-header {
          font-size: 1.2em;
          width: 100%;
          margin: 0;
          font-family: "Rubik";
          color: #fa8072;
          border-bottom: 2px solid #fa8072;
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
        .middle-content .informations-container .worker-informations-container .info-panel .description {
          margin: 0;
          font-size: 0.7em;
          margin-bottom: 20px;
          font-family: "Rubik";
          width: 100%; }
        .middle-content .informations-container .worker-informations-container .info-panel .description-button {
          width: 100%;
          height: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background: #fa8072;
          color: #ffffff;
          border-radius: 5px;
          box-shadow: 0 0 10px -1px #707070;
          font-size: 1.2em;
          font-family: "Rubik"; }
          .middle-content .informations-container .worker-informations-container .info-panel .description-button:hover {
            background: #ffb3aa; }
          .middle-content .informations-container .worker-informations-container .info-panel .description-button:focus {
            outline: none; }
        .middle-content .informations-container .worker-informations-container .info-panel .additional-info-header {
          font-size: 1.2em;
          width: 100%;
          margin: 0;
          font-family: "Rubik";
          color: #fa8072;
          border-bottom: 2px solid #fa8072;
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
        .middle-content .informations-container .worker-informations-container .info-panel .add-info-container {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 20px; }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-container .add-info-img {
            width: 30px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start; }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-container #profession-img {
            content: url(../../assets/svg/brush/brush-grey.svg); }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-container #payment-img {
            content: url(../../assets/svg/card/credit-card-grey.svg); }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-container #certificat-img {
            content: url(../../assets/svg/education/mortarboard-grey.svg); }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-container #web-img {
            content: url(../../assets/svg/web/world-wide-web-grey.svg); }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-container #exp-img {
            content: url(../../assets/svg/quality/quality-grey.svg); }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-container #favorite-img {
            content: url(../../assets/svg/pin/safety-pin-grey.svg); }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-container .add-info-area {
            width: 100%;
            height: auto;
            padding-left: 15px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap; }
            .middle-content .informations-container .worker-informations-container .info-panel .add-info-container .add-info-area .add-info-subheader {
              width: 100%;
              height: 30px;
              margin: 0;
              font-size: 1em;
              font-family: "Rubik";
              color: #fa8072;
              border-bottom: 2px solid #707070; }
            .middle-content .informations-container .worker-informations-container .info-panel .add-info-container .add-info-area .informations {
              width: 100%;
              margin: 0;
              margin-top: 10px;
              padding: 0;
              list-style-type: none; }
              .middle-content .informations-container .worker-informations-container .info-panel .add-info-container .add-info-area .informations li {
                font-size: 0.9em;
                border-bottom: 1px solid #a1a0a0;
                margin-bottom: 10px;
                font-family: "Rubik";
                color: #a1a0a0; }
        .middle-content .informations-container .worker-informations-container .info-panel .add-info-button {
          width: 100%;
          height: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background: #fa8072;
          color: #ffffff;
          border-radius: 5px;
          box-shadow: 0 0 10px -1px #707070;
          font-size: 1.2em;
          font-family: "Rubik"; }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-button:hover {
            background: #ffb3aa; }
          .middle-content .informations-container .worker-informations-container .info-panel .add-info-button:focus {
            outline: none; }
        .middle-content .informations-container .worker-informations-container .info-panel .price-header {
          width: 100%;
          font-size: 1.4em;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: #fa8072 solid 2px;
          font-family: "Rubik";
          color: #fa8072;
          margin-bottom: 25px; }
        .middle-content .informations-container .worker-informations-container .info-panel .price-button {
          width: 100%;
          height: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background: #fa8072;
          color: #ffffff;
          border-radius: 5px;
          box-shadow: 0 0 10px -1px #707070;
          font-size: 1.2em;
          font-family: "Rubik"; }
          .middle-content .informations-container .worker-informations-container .info-panel .price-button:hover {
            background: #ffb3aa; }
          .middle-content .informations-container .worker-informations-container .info-panel .price-button:focus {
            outline: none; }
        .middle-content .informations-container .worker-informations-container .info-panel .price-list {
          margin: 0;
          margin-bottom: 25px;
          padding: 0;
          list-style-type: none;
          width: 100%; }
          .middle-content .informations-container .worker-informations-container .info-panel .price-list li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-bottom: 2px solid #a1a0a0;
            margin-bottom: 15px;
            font-family: "Rubik";
            font-size: 0.9em; }
            .middle-content .informations-container .worker-informations-container .info-panel .price-list li:last-child {
              margin-bottom: 0; }
            .middle-content .informations-container .worker-informations-container .info-panel .price-list li .name-price, .middle-content .informations-container .worker-informations-container .info-panel .price-list li .value-price {
              margin: 0; }
            .middle-content .informations-container .worker-informations-container .info-panel .price-list li .name-price {
              color: #fa8072; }
            .middle-content .informations-container .worker-informations-container .info-panel .price-list li .value-price {
              color: #707070; }

.edit-panel {
  position: fixed;
  width: 50%;
  min-width: 750px;
  height: auto;
  top: 30%;
  padding: 25px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0px 5px -1px #707070; }
  .edit-panel .edit-button {
    width: 100%;
    height: 75px;
    border: none;
    border-radius: 5px;
    background: #fa8072;
    color: #ffffff;
    box-shadow: 0 0 10px -1px #707070;
    margin-top: 20px;
    font-size: 1.2em;
    font-family: "Rubik"; }
    .edit-panel .edit-button:hover {
      background: #ffb3aa; }
  .edit-panel .edit-top-beam {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px; }
    .edit-panel .edit-top-beam .edit-header {
      width: 100%;
      margin: 0;
      padding: 0;
      border-bottom: 2px solid #fa8072;
      font-size: 1.4em;
      font-family: "Rubik";
      color: #fa8072; }
    .edit-panel .edit-top-beam .edit-exit {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      box-sizing: initial;
      border: none;
      font-size: 1.8em;
      font-family: "Rubik";
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      color: #707070; }
      .edit-panel .edit-top-beam .edit-exit:hover {
        color: #fa8072; }
      .edit-panel .edit-top-beam .edit-exit:focus {
        outline: none; }

.edit-photo-container {
  width: 100%;
  height: 200px;
  border: 2px solid #fa8072;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .edit-photo-container .edit-photo-uploaded {
    margin: 0;
    font-size: 1.2em;
    font-family: "Rubik";
    color: #fa8072; }
  .edit-photo-container .edit-photo-button {
    display: none;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #707070;
    color: #ffffff;
    font-family: "Rubik"; }
    .edit-photo-container .edit-photo-button:hover {
      background: #fa8072; }
    .edit-photo-container .edit-photo-button:focus {
      outline: none; }

/*# sourceMappingURL=info-page.css.map */
